In [1]:
from itertools import product

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import RFECV
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [39]:
df = pd.read_csv('1617_AllGames_byTeam_FF.csv',index_col=0)
df.head()

,TEAM,MATCH UP,GAME DATE,MIN,EFG%,FTA RATE,TOV%,TOV,OREB%,OPP_EFG%,...,OPP_TOV,OPP_OREB%,OPP,Home/Away,REST,PTS,OPP_PTS,+/-,WIN,OPP_REST
0,POR,POR vs. UTA,10/25/16,48,0.607,0.293,0.140,14.0,0.167,0.537,...,14.4,0.171,UTA,1,0,113,104,9,1,0
1,UTA,UTA @ POR,10/25/16,48,0.537,0.195,0.144,14.4,0.171,0.607,...,14.0,0.167,POR,0,0,104,113,-9,0,0
2,NYK,NYK @ CLE,10/25/16,48,0.420,0.230,0.179,17.9,0.245,0.548,...,14.1,0.275,CLE,0,0,88,117,-29,0,0
3,GSW,GSW vs. SAS,10/25/16,48,0.512,0.212,0.159,15.9,0.190,0.541,...,13.7,0.438,SAS,1,0,100,129,-29,0,0
4,SAS,SAS @ GSW,10/25/16,48,0.541,0.265,0.137,13.7,0.438,0.512,...,15.9,0.190,GSW,0,0,129,100,29,1,0

In [40]:
del df['MATCH UP']
del df['TOV']
del df['OPP_TOV']

df.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,PTS,OPP_PTS,+/-,WIN,OPP_REST
0,POR,10/25/16,48,0.607,0.293,0.140,0.167,0.537,0.195,0.144,0.171,UTA,1,0,113,104,9,1,0
1,UTA,10/25/16,48,0.537,0.195,0.144,0.171,0.607,0.293,0.140,0.167,POR,0,0,104,113,-9,0,0
2,NYK,10/25/16,48,0.420,0.230,0.179,0.245,0.548,0.202,0.141,0.275,CLE,0,0,88,117,-29,0,0
3,GSW,10/25/16,48,0.512,0.212,0.159,0.190,0.541,0.265,0.137,0.438,SAS,1,0,100,129,-29,0,0
4,SAS,10/25/16,48,0.541,0.265,0.137,0.438,0.512,0.212,0.159,0.190,GSW,0,0,129,100,29,1,0

In [42]:
### df_all preserves all data
df_all = df
df_all.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,PTS,OPP_PTS,+/-,WIN,OPP_REST
0,POR,10/25/16,48,0.607,0.293,0.140,0.167,0.537,0.195,0.144,0.171,UTA,1,0,113,104,9,1,0
1,UTA,10/25/16,48,0.537,0.195,0.144,0.171,0.607,0.293,0.140,0.167,POR,0,0,104,113,-9,0,0
2,NYK,10/25/16,48,0.420,0.230,0.179,0.245,0.548,0.202,0.141,0.275,CLE,0,0,88,117,-29,0,0
3,GSW,10/25/16,48,0.512,0.212,0.159,0.190,0.541,0.265,0.137,0.438,SAS,1,0,100,129,-29,0,0
4,SAS,10/25/16,48,0.541,0.265,0.137,0.438,0.512,0.212,0.159,0.190,GSW,0,0,129,100,29,1,0

### predict Win

#### without one hot encoding--delete all teams

In [43]:
#del df['TEAM']
#del df['OPP']
del df['PTS']
del df['OPP_PTS']
del df['+/-']
df['W/L']=df['WIN']
del df['WIN']
df.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,POR,10/25/16,48,0.607,0.293,0.140,0.167,0.537,0.195,0.144,0.171,UTA,1,0,0,1
1,UTA,10/25/16,48,0.537,0.195,0.144,0.171,0.607,0.293,0.140,0.167,POR,0,0,0,0
2,NYK,10/25/16,48,0.420,0.230,0.179,0.245,0.548,0.202,0.141,0.275,CLE,0,0,0,0
3,GSW,10/25/16,48,0.512,0.212,0.159,0.190,0.541,0.265,0.137,0.438,SAS,1,0,0,0
4,SAS,10/25/16,48,0.541,0.265,0.137,0.438,0.512,0.212,0.159,0.190,GSW,0,0,0,1

### df_test: DataFrame stores all rows for test, for each team, 8 factors averaged from its previous 5 games

In [78]:
df_test=df
len(df_test)

2460

In [79]:
list_teams = ['ATL','BKN','BOS','CHA','CHI','CLE','DAL','DEN','DET','GSW','HOU','IND','LAC','LAL','MEM','MIA',
              'MIL','MIN','NOP','NYK','OKC','ORL','PHI','PHX','POR','SAC','SAS','TOR','UTA','WAS']
df_allTeams = pd.DataFrame()    
for i in list_teams:
    df_allTeams = pd.concat([df_allTeams, df_test.loc[df['TEAM'] == i]])
df_allTeams.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
33,ATL,10/27/16,48,0.568,0.205,0.204,0.333,0.457,0.191,0.174,0.240,WAS,1,0,0,1
66,ATL,10/29/16,48,0.524,0.271,0.119,0.146,0.381,0.188,0.195,0.089,PHI,0,2,3,1
82,ATL,10/31/16,48,0.487,0.595,0.136,0.347,0.547,0.253,0.197,0.188,SAC,1,2,2,1
109,ATL,11/2/16,48,0.547,0.341,0.170,0.244,0.583,0.222,0.146,0.289,LAL,1,2,1,0
154,ATL,11/4/16,48,0.416,0.434,0.168,0.222,0.419,0.438,0.184,0.229,WAS,0,2,2,0

### set all MIN to 48

In [87]:
df_allTeams.loc[:,'MIN'] = 48
df_allTeams.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
33,ATL,10/27/16,48,0.568,0.205,0.204,0.333,0.457,0.191,0.174,0.240,WAS,1,0,0,1
66,ATL,10/29/16,48,0.524,0.271,0.119,0.146,0.381,0.188,0.195,0.089,PHI,0,2,3,1
82,ATL,10/31/16,48,0.487,0.595,0.136,0.347,0.547,0.253,0.197,0.188,SAC,1,2,2,1
109,ATL,11/2/16,48,0.547,0.341,0.170,0.244,0.583,0.222,0.146,0.289,LAL,1,2,1,0
154,ATL,11/4/16,48,0.416,0.434,0.168,0.222,0.419,0.438,0.184,0.229,WAS,0,2,2,0
163,ATL,11/5/16,48,0.576,0.282,0.195,0.295,0.506,0.153,0.248,0.279,HOU,1,1,3,1
200,ATL,11/8/16,48,0.574,0.296,0.191,0.297,0.429,0.253,0.058,0.250,CLE,0,3,3,1
213,ATL,11/9/16,48,0.560,0.325,0.219,0.361,0.500,0.231,0.132,0.186,CHI,1,1,2,1
272,ATL,11/12/16,48,0.574,0.147,0.157,0.341,0.500,0.241,0.188,0.213,PHI,1,3,1,1
305,ATL,11/15/16,48,0.500,0.238,0.203,0.162,0.444,0.157,0.227,0.370,MIA,0,3,1,1
317,ATL,11/16/16,48,0.556,0.431,0.162,0.086,0.439,0.184,0.142,0.294,MIL,1,1,4,1
356,ATL,11/18/16,48,0.506,0.202,0.169,0.182,0.467,0.267,0.106,0.163,CHA,0,2,3,0
392,ATL,11/20/16,48,0.435,0.341,0.134,0.264,0.534,0.159,0.153,0.244,NYK,0,2,3,0
414,ATL,11/22/16,48,0.518,0.118,0.152,0.146,0.587,0.140,0.113,0.128,NOP,1,2,3,0
428,ATL,11/23/16,48,0.453,0.259,0.221,0.362,0.446,0.167,0.194,0.152,IND,0,1,2,1
453,ATL,11/25/16,48,0.361,0.145,0.145,0.115,0.500,0.225,0.169,0.209,UTA,0,2,2,0
490,ATL,11/27/16,48,0.511,0.114,0.123,0.156,0.484,0.211,0.092,0.326,LAL,0,2,2,0
516,ATL,11/28/16,48,0.465,0.353,0.182,0.277,0.506,0.282,0.145,0.159,GSW,0,1,2,0
543,ATL,11/30/16,48,0.556,0.112,0.203,0.200,0.506,0.281,0.163,0.283,PHX,0,2,3,0
573,ATL,12/2/16,48,0.398,0.227,0.072,0.122,0.635,0.135,0.153,0.297,DET,1,2,2,0
585,ATL,12/3/16,48,0.438,0.159,0.190,0.265,0.647,0.120,0.150,0.324,TOR,0,1,1,0
608,ATL,12/5/16,48,0.487,0.416,0.176,0.167,0.525,0.350,0.184,0.216,OKC,1,2,1,0
657,ATL,12/7/16,48,0.511,0.170,0.148,0.359,0.494,0.250,0.174,0.195,MIA,1,2,1,1
686,ATL,12/9/16,48,0.548,0.345,0.170,0.209,0.532,0.149,0.141,0.196,MIL,0,2,2,1
741,ATL,12/13/16,48,0.567,0.236,0.150,0.361,0.672,0.230,0.090,0.135,ORL,1,4,3,0
783,ATL,12/16/16,48,0.599,0.372,0.141,0.429,0.605,0.302,0.101,0.216,TOR,0,3,2,1
804,ATL,12/17/16,48,0.523,0.186,0.125,0.200,0.557,0.148,0.122,0.156,CHA,1,1,1,0
822,ATL,12/19/16,48,0.607,0.320,0.157,0.147,0.506,0.299,0.126,0.333,OKC,0,2,2,1
866,ATL,12/21/16,48,0.457,0.159,0.111,0.178,0.476,0.169,0.186,0.357,MIN,1,2,2,0
900,ATL,12/23/16,48,0.477,0.384,0.080,0.188,0.526,0.449,0.148,0.184,DEN,0,2,3,1

In [89]:
### saving byTeam
df_allTeams.to_csv('AllGames_byTeam.csv', index = False)
df_allTeams = pd.read_csv('AllGames_byTeam.csv', encoding = 'latin1')
df_allTeams.to_csv('AllGames_byTeam.csv')

In [127]:
df_allTeams = pd.read_csv('AllGames_byTeam.csv', encoding = 'latin1',index_col=0)
df_allTeams.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,ATL,10/27/16,48,0.568,0.205,0.204,0.333,0.457,0.191,0.174,0.240,WAS,1,0,0,1
1,ATL,10/29/16,48,0.524,0.271,0.119,0.146,0.381,0.188,0.195,0.089,PHI,0,2,3,1
2,ATL,10/31/16,48,0.487,0.595,0.136,0.347,0.547,0.253,0.197,0.188,SAC,1,2,2,1
3,ATL,11/2/16,48,0.547,0.341,0.170,0.244,0.583,0.222,0.146,0.289,LAL,1,2,1,0
4,ATL,11/4/16,48,0.416,0.434,0.168,0.222,0.419,0.438,0.184,0.229,WAS,0,2,2,0

In [114]:
list_efg=df_allTeams.loc[:,'OREB%']
#list_efg

In [115]:
list_5efg=[] #avg of 5 as list
for i in range(30):
    x=((i+1)*82)
    s=(i*82)
    list_5efg.append((list_efg[x-1]+list_efg[x-2]+list_efg[x-3]+list_efg[x-4]+list_efg[x-5])/5)
    list_5efg.append((list_efg[x-1]+list_efg[x-2]+list_efg[x-3]+list_efg[x-4]+list_efg[s])/5)
    list_5efg.append((list_efg[x-1]+list_efg[x-2]+list_efg[x-3]+list_efg[s]+list_efg[s+1])/5)
    list_5efg.append((list_efg[x-1]+list_efg[x-2]+list_efg[s]+list_efg[s+1]+list_efg[s+2])/5)
    list_5efg.append((list_efg[x-1]+list_efg[s]+list_efg[s+1]+list_efg[s+2]+list_efg[s+3])/5)
    #list_5efg.append((i+1)*82)
    for j in range(i*82,(i+1)*82-5):
        list_5efg.append((list_efg[j]+list_efg[j+1]+list_efg[j+2]+list_efg[j+3]+list_efg[j+4])/5)

In [103]:
(0.568+0.524+0.487+0.547+0.416)/5

0.5084000000000001

In [107]:
###DO NOT RUN THIS
list_avg_efg = list_5efg
list_avg_efg

[0.54480000000000006,
 0.54720000000000002,
 0.53280000000000005,
 0.52700000000000002,
 0.52380000000000004,
 0.50840000000000007,
 0.51000000000000001,
 0.52000000000000002,
 0.53459999999999996,
 0.54000000000000004,
 0.55679999999999996,
 0.55279999999999996,
 0.5391999999999999,
 0.51419999999999999,
 0.503,
 0.49359999999999998,
 0.45459999999999995,
 0.4556,
 0.46159999999999995,
 0.46920000000000001,
 0.4582,
 0.47359999999999997,
 0.46879999999999999,
 0.47800000000000004,
 0.47640000000000005,
 0.51019999999999999,
 0.54239999999999999,
 0.54959999999999998,
 0.56880000000000008,
 0.55059999999999998,
 0.53259999999999996,
 0.50679999999999992,
 0.4824,
 0.45879999999999999,
 0.47400000000000003,
 0.49959999999999993,
 0.5,
 0.51579999999999993,
 0.5212,
 0.51340000000000008,
 0.51360000000000006,
 0.52500000000000002,
 0.51360000000000006,
 0.51639999999999997,
 0.5242,
 0.49739999999999995,
 0.51559999999999995,
 0.51419999999999999,
 0.504,
 0.48460000000000003,
 0.50319999999999998,
 0.49719999999999998,
 0.51119999999999999,
 0.52500000000000002,
 0.55479999999999996,
 0.52860000000000007,
 0.50039999999999996,
 0.48680000000000001,
 0.46200000000000002,
 0.44819999999999993,
 0.48959999999999998,
 0.51839999999999997,
 0.53479999999999994,
 0.55859999999999999,
 0.54600000000000004,
 0.53239999999999998,
 0.53459999999999996,
 0.53339999999999999,
 0.51779999999999993,
 0.50780000000000003,
 0.49559999999999993,
 0.46320000000000006,
 0.45599999999999996,
 0.43740000000000007,
 0.44379999999999997,
 0.43760000000000004,
 0.45040000000000002,
 0.44259999999999999,
 0.47940000000000005,
 0.51160000000000005,
 0.51859999999999995,
 0.53000000000000003,
 0.49959999999999993,
 0.45439999999999997,
 0.44860000000000005,
 0.45419999999999999,
 0.44679999999999997,
 0.50319999999999998,
 0.48979999999999996,
 0.51739999999999997,
 0.51360000000000006,
 0.55380000000000007,
 0.53000000000000003,
 0.54220000000000002,
 0.51340000000000008,
 0.50639999999999996,
 0.48279999999999995,
 0.48659999999999998,
 0.48939999999999995,
 0.49080000000000001,
 0.49020000000000002,
 0.4864,
 0.49380000000000007,
 0.495,
 0.48680000000000001,
 0.51080000000000003,
 0.51360000000000006,
 0.50839999999999996,
 0.50519999999999998,
 0.50460000000000005,
 0.49420000000000003,
 0.50340000000000007,
 0.52279999999999993,
 0.5202,
 0.53000000000000003,
 0.51900000000000002,
 0.5302,
 0.50359999999999994,
 0.50760000000000005,
 0.49960000000000004,
 0.499,
 0.50180000000000002,
 0.50619999999999998,
 0.49879999999999997,
 0.54059999999999997,
 0.5544,
 0.52680000000000005,
 0.5262,
 0.54559999999999997,
 0.51659999999999995,
 0.50060000000000004,
 0.50519999999999998,
 0.48859999999999992,
 0.4728,
 0.47260000000000002,
 0.47640000000000005,
 0.48280000000000001,
 0.503,
 0.52200000000000002,
 0.5282,
 0.5242,
 0.53480000000000005,
 0.51619999999999999,
 0.51679999999999993,
 0.53200000000000003,
 0.54880000000000007,
 0.54079999999999995,
 0.56579999999999997,
 0.55459999999999998,
 0.53559999999999997,
 0.5149999999999999,
 0.52039999999999997,
 0.50439999999999996,
 0.49359999999999998,
 0.49519999999999997,
 0.505,
 0.49119999999999997,
 0.48039999999999994,
 0.49619999999999997,
 0.47780000000000006,
 0.53179999999999994,
 0.54600000000000004,
 0.55459999999999998,
 0.5212,
 0.52060000000000006,
 0.55059999999999998,
 0.56240000000000001,
 0.55420000000000003,
 0.55919999999999992,
 0.56319999999999992,
 0.54299999999999993,
 0.53119999999999989,
 0.50639999999999996,
 0.49359999999999998,
 0.47899999999999998,
 0.47499999999999998,
 0.46419999999999995,
 0.46939999999999998,
 0.47660000000000002,
 0.49119999999999997,
 0.50060000000000004,
 0.5222,
 0.53139999999999998,
 0.52100000000000002,
 0.52439999999999998,
 0.5149999999999999,
 0.51619999999999999,
 0.5069999999999999,
 0.51380000000000003,
 0.50319999999999998,
 0.50600000000000001,
 0.49640000000000006,
 0.49740000000000001,
 0.48959999999999998,
 0.48740000000000006,
 0.50039999999999996,
 0.50980000000000003,
 0.52879999999999994,
 0.56100000000000005,
 0.59699999999999998,
 0.58740000000000003,
 0.58220000000000005,
 0.57180000000000009,
 0.56740000000000002,
 0.54080000000000006,
 0.55640000000000001,
 0.53780000000000006,
 0.53839999999999999,
 0.51959999999999995,
 0.52779999999999994,
 0.5404000000000001,
 0.55240000000000011,
 0.55059999999999998,
 0.54480000000000006,
 0.54039999999999999,
 0.5122000000000001,
 0.50660000000000005,
 0.51059999999999994,
 0.55059999999999998,
 0.55820000000000003,
 0.56719999999999993,
 0.58560000000000001,
 0.57799999999999996,
 0.53559999999999997,
 0.50659999999999994,
 0.50439999999999996,
 0.50700000000000001,
 0.49759999999999999,
 0.49740000000000001,
 0.50779999999999992,
 0.49759999999999999,
 0.495,
 0.52980000000000005,
 0.52400000000000002,
 0.51200000000000001,
 0.51000000000000001,
 0.51380000000000003,
 0.49700000000000005,
 0.52559999999999996,
 0.53079999999999994,
 0.53880000000000006,
 0.55120000000000002,
 0.53280000000000005,
 0.51479999999999992,
 0.54459999999999997,
 0.54520000000000002,
 0.47460000000000002,
 0.45599999999999996,
 0.43959999999999999,
 0.43079999999999996,
 0.45839999999999997,
 0.48440000000000005,
 0.49860000000000004,
 0.51740000000000008,
 0.52500000000000002,
 0.49720000000000014,
 0.52300000000000002,
 0.50440000000000007,
 0.5,
 0.49459999999999998,
 0.52060000000000006,
 0.50040000000000007,
 0.50460000000000005,
 0.50540000000000007,
 0.50180000000000002,
 0.48980000000000007,
 0.48979999999999996,
 0.49719999999999998,
 0.47339999999999999,
 0.4894,
 0.4904,
 0.46799999999999997,
 0.48460000000000003,
 0.48380000000000001,
 0.48819999999999997,
 0.48899999999999999,
 0.50440000000000007,
 0.48499999999999999,
 0.5321999999999999,
 0.50360000000000005,
 0.51460000000000006,
 0.5302,
 0.53180000000000005,
 0.50280000000000002,
 0.50540000000000007,
 0.50760000000000005,
 0.47100000000000009,
 0.46479999999999999,
 0.47919999999999996,
 0.50880000000000003,
 0.50460000000000005,
 0.51819999999999999,
 0.51079999999999992,
 0.50739999999999996,
 0.50440000000000007,
 0.48499999999999999,
 0.49719999999999998,
 0.5082000000000001,
 0.49000000000000005,
 0.47439999999999999,
 0.48399999999999999,
 0.4864,
 0.48659999999999998,
 0.49160000000000004,
 0.49160000000000004,
 0.50679999999999992,
 0.51380000000000003,
 0.50219999999999998,
 0.52080000000000004,
 0.51859999999999995,
 0.50219999999999998,
 0.52560000000000007,
 0.53880000000000006,
 0.53000000000000003,
 0.51959999999999995,
 0.51480000000000004,
 0.49820000000000003,
 0.49859999999999999,
 0.49420000000000003,
 0.52299999999999991,
 0.53280000000000005,
 0.5272,
 0.53660000000000008,
 0.5514,
 0.55519999999999992,
 0.54900000000000004,
 0.54080000000000017,
 0.51560000000000006,
 0.50060000000000004,
 0.50840000000000007,
 0.52900000000000003,
 0.54120000000000013,
 0.51480000000000004,
 0.51140000000000008,
 0.51480000000000004,
 0.49740000000000001,
 0.48399999999999999,
 0.47879999999999995,
 0.46679999999999999,
 0.46399999999999997,
 0.44500000000000001,
 0.44239999999999996,
 0.46519999999999995,
 0.47639999999999993,
 0.48119999999999996,
 0.47720000000000001,
 0.48080000000000001,
 0.46259999999999996,
 0.45860000000000001,
 0.45359999999999995,
 0.47140000000000004,
 0.46199999999999991,
 0.45960000000000001,
 0.46819999999999995,
 0.44399999999999995,
 0.48059999999999992,
 0.47540000000000004,
 0.46980000000000005,
 0.46720000000000006,
 0.48520000000000013,
 0.43900000000000006,
 0.44300000000000006,
 0.44819999999999993,
 0.4506,
 0.47799999999999992,
 0.48460000000000003,
 0.48460000000000003,
 0.48399999999999999,
 0.46479999999999999,
 0.44600000000000001,
 0.46399999999999997,
 0.47119999999999995,
 0.4728,
 0.47999999999999998,
 0.48699999999999993,
 0.47940000000000005,
 0.47020000000000001,
 0.48780000000000001,
 0.52699999999999991,
 0.53099999999999992,
 0.54460000000000008,
 0.54100000000000004,
 0.52259999999999995,
 0.4894,
 0.49080000000000001,
 0.46840000000000004,
 0.48980000000000007,
 0.51300000000000012,
 0.51980000000000004,
 0.50839999999999996,
 0.50879999999999992,
 0.49420000000000003,
 0.48299999999999998,
 0.46779999999999999,
 0.45780000000000004,
 0.47059999999999996,
 0.46580000000000005,
 0.46999999999999992,
 0.48699999999999999,
 0.51180000000000003,
 0.53859999999999997,
 0.54420000000000013,
 0.55620000000000003,
 0.55020000000000002,
 0.54959999999999998,
 0.53039999999999998,
 0.52039999999999997,
 0.495,
 0.49840000000000001,
 0.51159999999999994,
 0.52540000000000009,
 0.52960000000000007,
 0.52099999999999991,
 0.50419999999999987,
 0.51239999999999997,
 0.53979999999999995,
 0.52700000000000002,
 0.51400000000000001,
 0.51959999999999995,
 0.49680000000000002,
 0.50419999999999998,
 0.50160000000000005,
 0.52540000000000009,
 0.5554,
 0.58019999999999994,
 0.55420000000000003,
 0.56399999999999995,
 0.54860000000000009,
 0.53899999999999992,
 0.5262,
 0.55559999999999998,
 0.57320000000000004,
 0.61180000000000001,
 0.59760000000000013,
 0.57220000000000004,
 0.5673999999999999,
 0.54580000000000006,
 0.52900000000000003,
 0.52180000000000004,
 0.52580000000000005,
 0.49539999999999995,
 0.51580000000000004,
 0.51740000000000008,
 0.50060000000000004,
 0.50160000000000005,
 0.50840000000000007,
 0.51360000000000006,
 0.47960000000000003,
 0.47660000000000002,
 0.50339999999999996,
 0.48740000000000006,
 0.4854,
 0.51500000000000001,
 0.54440000000000011,
 0.54179999999999995,
 0.58179999999999998,
 0.55599999999999994,
 0.55220000000000002,
 0.56840000000000002,
 0.56920000000000004,
 0.57580000000000009,
 0.60660000000000003,
 0.60599999999999998,
 0.60859999999999992,
 0.60940000000000005,
 0.59919999999999995,
 0.59360000000000002,
 0.5948,
 0.58160000000000012,
 0.55660000000000009,
 0.57800000000000007,
 0.56600000000000006,
 0.55720000000000014,
 0.54900000000000004,
 0.57400000000000007,
 0.56180000000000008,
 0.59500000000000008,
 0.58799999999999997,
 0.56520000000000004,
 0.56899999999999995,
 0.56159999999999999,
 0.54039999999999999,
 0.5593999999999999,
 0.55580000000000007,
 0.53580000000000005,
 0.53599999999999992,
 0.53079999999999994,
 0.54679999999999995,
 0.5726,
 0.57879999999999998,
 0.57099999999999995,
 0.56779999999999997,
 0.49080000000000001,
 0.49340000000000001,
 0.49560000000000004,
 0.48179999999999995,
 0.48339999999999994,
 0.47739999999999999,
 0.45879999999999999,
 0.47820000000000001,
 0.47699999999999998,
 0.46440000000000003,
 0.46199999999999991,
 0.44119999999999998,
 0.40860000000000002,
 0.42800000000000005,
 0.44939999999999997,
 0.44799999999999995,
 0.4798,
 0.49420000000000003,
 0.47360000000000008,
 0.47680000000000006,
 0.48440000000000005,
 0.48299999999999998,
 0.50039999999999996,
 0.51060000000000005,
 0.53620000000000001,
 0.53079999999999994,
 0.54239999999999999,
 0.53139999999999998,
 0.56140000000000012,
 0.52180000000000004,
 0.52260000000000006,
 0.53220000000000001,
 0.52699999999999991,
 0.51879999999999993,
 0.51839999999999997,
 0.54180000000000006,
 0.52839999999999998,
 0.51739999999999997,
 0.50959999999999994,
 0.53060000000000007,
 0.52300000000000002,
 0.52939999999999998,
 0.54779999999999995,
 0.53759999999999997,
 0.54260000000000008,
 0.53480000000000005,
 0.52940000000000009,
 0.52540000000000009,
 0.52780000000000005,
 0.51400000000000001,
 0.53000000000000003,
 0.52259999999999995,
 0.53379999999999994,
 0.53939999999999999,
 0.5524,
 0.53780000000000006,
 0.52859999999999996,
 0.50800000000000001,
 0.50880000000000003,
 0.48979999999999996,
 0.49619999999999997,
 0.51039999999999996,
 0.5222,
 0.54359999999999997,
 0.54759999999999998,
 0.52639999999999998,
 0.50639999999999996,
 0.51959999999999995,
 0.46539999999999998,
 0.48380000000000001,
 0.47960000000000003,
 0.502,
 0.46720000000000006,
 0.48739999999999994,
 0.47839999999999999,
 0.48699999999999999,
 0.50659999999999994,
 0.51740000000000008,
 0.52360000000000007,
 0.5069999999999999,
 0.51579999999999993,
 0.48580000000000007,
 0.54000000000000004,
 0.55320000000000003,
 0.5082000000000001,
 0.49239999999999995,
 0.47720000000000001,
 0.4506,
 0.46959999999999996,
 0.50180000000000002,
 0.50380000000000003,
 0.49640000000000006,
 0.51419999999999999,
 0.50180000000000002,
 0.48640000000000005,
 0.49880000000000002,
 0.49840000000000001,
 0.48100000000000004,
 0.48259999999999997,
 0.48600000000000004,
 0.47020000000000001,
 0.47140000000000004,
 0.50239999999999996,
 0.50060000000000004,
 0.48880000000000001,
 0.48840000000000006,
 0.51400000000000001,
 0.502,
 0.51700000000000002,
 0.54879999999999995,
 0.58679999999999999,
 0.56279999999999997,
 0.57519999999999993,
 0.55619999999999992,
 0.55000000000000004,
 0.5272,
 0.5324000000000001,
 0.54920000000000002,
 0.54679999999999995,
 0.52059999999999995,
 0.54679999999999995,
 0.56980000000000008,
 0.57400000000000007,
 0.56759999999999999,
 0.59499999999999997,
 0.57380000000000009,
 0.55199999999999994,
 0.53860000000000008,
 0.55379999999999996,
 0.53459999999999996,
 0.51479999999999992,
 0.50960000000000005,
 0.49680000000000002,
 0.50219999999999998,
 0.49719999999999998,
 0.53659999999999997,
 0.52939999999999998,
 0.56580000000000008,
 0.54540000000000011,
 0.55459999999999998,
 0.53939999999999999,
 0.54779999999999995,
 0.54020000000000012,
 0.55720000000000003,
 0.55620000000000014,
 0.55840000000000001,
 0.57780000000000009,
 0.56900000000000006,
 0.56419999999999992,
 0.59040000000000004,
 0.59719999999999995,
 0.57320000000000004,
 0.56940000000000002,
 0.58240000000000003,
 0.55859999999999999,
 0.51640000000000008,
 0.52300000000000002,
 0.52459999999999996,
 0.51359999999999995,
 0.5302,
 0.53360000000000007,
 0.55740000000000001,
 0.54800000000000004,
 0.56020000000000003,
 0.5082000000000001,
 0.48380000000000001,
 0.49860000000000004,
 0.48080000000000001,
 0.4798,
 0.4864,
 0.502,
 0.47160000000000002,
 0.45920000000000005,
 0.44879999999999998,
 0.46099999999999997,
 0.45640000000000003,
 0.48659999999999998,
 0.47339999999999993,
 0.4768,
 0.46099999999999997,
 0.46820000000000006,
 0.47439999999999999,
 0.497,
 0.51359999999999995,
 0.54340000000000011,
 0.56419999999999992,
 0.54979999999999996,
 0.55840000000000001,
 0.52839999999999998,
 0.52439999999999998,
 0.48159999999999997,
 0.49000000000000005,
 0.49939999999999996,
 0.50659999999999994,
 0.47560000000000002,
 0.47199999999999998,
 0.47660000000000002,
 0.47379999999999994,
 0.48119999999999996,
 0.48959999999999998,
 0.51719999999999999,
 0.51340000000000008,
 0.49759999999999993,
 0.51260000000000006,
 0.52100000000000002,
 0.51740000000000008,
 0.495,
 0.50000000000000011,
 0.49939999999999996,
 0.50839999999999996,
 0.51600000000000001,
 0.53700000000000003,
 0.53300000000000003,
 0.54359999999999997,
 0.53320000000000001,
 0.51159999999999994,
 0.50179999999999991,
 0.51919999999999999,
 0.48899999999999999,
 0.48319999999999996,
 0.48880000000000001,
 0.48600000000000004,
 0.47300000000000003,
 0.48399999999999999,
 0.48200000000000004,
 0.46639999999999998,
 0.49540000000000006,
 0.50359999999999994,
 0.49800000000000005,
 0.50819999999999999,
 0.53279999999999994,
 0.48740000000000006,
 0.47020000000000001,
 0.44800000000000006,
 0.4446,
 0.43180000000000007,
 0.44960000000000006,
 0.43540000000000012,
 0.45839999999999997,
 0.4526,
 0.45200000000000007,
 0.45340000000000008,
 0.49280000000000002,
 0.49000000000000005,
 0.50800000000000001,
 0.51839999999999997,
 0.56300000000000006,
 0.54400000000000004,
 0.53479999999999994,
 0.51619999999999988,
 0.53099999999999992,
 0.54580000000000006,
 0.54000000000000004,
 0.55120000000000002,
 0.59640000000000004,
 0.59760000000000002,
 0.60019999999999996,
 0.61959999999999993,
 0.60960000000000003,
 0.57360000000000011,
 0.55220000000000002,
 0.57579999999999998,
 0.5766,
 0.59339999999999993,
 0.59139999999999993,
 0.58220000000000005,
 0.58039999999999992,
 0.58100000000000007,
 0.55859999999999999,
 0.57000000000000006,
 0.57580000000000009,
 0.53939999999999999,
 0.5252,
 0.5262,
 0.54700000000000004,
 0.54580000000000006,
 0.54060000000000008,
 0.56340000000000001,
 0.56800000000000006,
 0.56540000000000001,
 0.5796,
 0.59440000000000004,
 0.58440000000000003,
 0.58499999999999996,
 0.56659999999999999,
 0.55699999999999994,
 0.56940000000000002,
 0.57099999999999995,
 0.58260000000000001,
 0.59260000000000002,
 0.60500000000000009,
 0.57799999999999996,
 0.56899999999999995,
 0.59140000000000004,
 0.57020000000000004,
 0.57420000000000004,
 0.59119999999999995,
 0.58260000000000001,
 0.57079999999999997,
 0.59040000000000004,
 0.59120000000000006,
 0.5786,
 0.5915999999999999,
 0.58319999999999994,
 0.55740000000000001,
 0.53339999999999999,
 0.5292,
 0.50019999999999998,
 0.48360000000000003,
 0.50580000000000003,
 0.50439999999999996,
 0.50319999999999998,
 0.49640000000000006,
 0.47940000000000005,
 0.48860000000000003,
 0.52940000000000009,
 0.54259999999999997,
 0.59239999999999993,
 0.6140000000000001,
 0.62140000000000006,
 0.60019999999999996,
 0.60220000000000007,
 0.57740000000000014,
 0.59899999999999998,
 0.58660000000000012,
 0.5875999999999999,
 0.58379999999999987,
 0.59040000000000004,
 0.53439999999999999,
 0.54820000000000002,
 0.56279999999999997,
 0.52540000000000009,
 0.55059999999999998,
 0.5494,
 0.54020000000000012,
 0.54979999999999996,
 0.55979999999999996,
 0.53859999999999997,
 0.54279999999999995,
 0.54380000000000006,
 0.53000000000000003,
 0.52460000000000007,
 0.53400000000000003,
 0.53400000000000003,
 0.55059999999999998,
 0.57199999999999995,
 0.56320000000000003,
 0.56240000000000001,
 0.56859999999999999,
 0.55500000000000005,
 0.5464,
 0.54320000000000002,
 0.56699999999999995,
 0.55640000000000012,
 0.5948,
 0.58519999999999994,
 0.59400000000000008,
 0.55099999999999993,
 0.56799999999999995,
 0.53220000000000001,
 0.53380000000000005,
 0.56180000000000008,
 0.60759999999999992,
 0.59380000000000011,
 0.58600000000000008,
 0.58240000000000003,
 0.56359999999999999,
 0.55099999999999993,
 0.55500000000000005,
 0.55499999999999994,
 0.53480000000000005,
 0.5494,
 0.52359999999999995,
 0.51059999999999994,
 0.50739999999999996,
 0.53739999999999999,
 0.53400000000000003,
 0.5504,
 0.56379999999999997,
 0.56220000000000003,
 0.5454,
 0.51519999999999999,
 0.51500000000000001,
 0.5132000000000001,
 0.52260000000000006,
 0.53680000000000005,
 0.5454,
 0.55999999999999994,
 0.56020000000000003,
 0.53959999999999997,
 0.52759999999999996,
 0.55280000000000007,
 0.54100000000000004,
 0.52279999999999993,
 0.53879999999999995,
 0.53279999999999994,
 0.5394000000000001,
 0.52600000000000002,
 0.52480000000000004,
 0.54499999999999993,
 0.55259999999999998,
 0.57479999999999998,
 0.56279999999999997,
 0.56200000000000006,
 0.52979999999999994,
 0.5282,
 0.47299999999999998,
 0.49060000000000004,
 0.52880000000000005,
 0.53000000000000003,
 0.56620000000000004,
 0.57680000000000009,
 0.5544,
 0.52859999999999996,
 0.51319999999999999,
 0.51200000000000001,
 0.52120000000000011,
 0.53320000000000001,
 0.5464,
 0.53499999999999992,
 0.51939999999999986,
 0.48499999999999999,
 0.502,
 0.47919999999999996,
 0.48699999999999999,
 0.46639999999999998,
 0.46900000000000003,
 0.48040000000000005,
 0.4768,
 0.48299999999999998,
 0.51800000000000002,
 0.51459999999999995,
 0.4904,
 0.51100000000000001,
 0.51700000000000002,
 0.52900000000000003,
 0.52740000000000009,
 0.51479999999999992,
 0.50540000000000007,
 0.49320000000000003,
 0.46860000000000007,
 0.47839999999999999,
 0.48719999999999997,
 0.48620000000000002,
 0.48899999999999999,
 0.50700000000000001,
 0.54139999999999999,
 0.56040000000000001,
 0.5706,
 0.57199999999999995,
 0.56899999999999995,
 0.55400000000000005,
 0.53620000000000001,
 0.53760000000000008,
 0.52780000000000005,
 0.5364000000000001,
 0.53320000000000012,
 0.55079999999999996,
 0.54520000000000002,
 0.54399999999999993,
 0.53239999999999998,
 0.50719999999999987,
 0.5092000000000001,

In [128]:
for i in range(2460):
    df_allTeams.loc[i,'EFG%'] = list_avg_efg[i]

df_allTeams.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,ATL,10/27/16,48,0.5448,0.205,0.204,0.333,0.457,0.191,0.174,0.240,WAS,1,0,0,1
1,ATL,10/29/16,48,0.5472,0.271,0.119,0.146,0.381,0.188,0.195,0.089,PHI,0,2,3,1
2,ATL,10/31/16,48,0.5328,0.595,0.136,0.347,0.547,0.253,0.197,0.188,SAC,1,2,2,1
3,ATL,11/2/16,48,0.5270,0.341,0.170,0.244,0.583,0.222,0.146,0.289,LAL,1,2,1,0
4,ATL,11/4/16,48,0.5238,0.434,0.168,0.222,0.419,0.438,0.184,0.229,WAS,0,2,2,0

In [110]:
list_avg_fta = list_5efg
list_avg_fta

[0.27159999999999995,
 0.23619999999999997,
 0.27240000000000003,
 0.31259999999999999,
 0.3352,
 0.36919999999999997,
 0.3846,
 0.3896,
 0.33560000000000001,
 0.29680000000000001,
 0.2576,
 0.28739999999999999,
 0.26860000000000001,
 0.27179999999999999,
 0.26600000000000001,
 0.2702,
 0.21299999999999999,
 0.19539999999999999,
 0.1978,
 0.1966,
 0.19019999999999998,
 0.193,
 0.25339999999999996,
 0.21680000000000002,
 0.26340000000000002,
 0.26519999999999999,
 0.30780000000000002,
 0.26180000000000003,
 0.29180000000000006,
 0.25460000000000005,
 0.28420000000000006,
 0.25080000000000002,
 0.26700000000000002,
 0.25980000000000003,
 0.28659999999999997,
 0.25419999999999998,
 0.251,
 0.28399999999999997,
 0.30980000000000002,
 0.30120000000000002,
 0.30180000000000001,
 0.31680000000000008,
 0.32520000000000004,
 0.28900000000000003,
 0.28959999999999997,
 0.30359999999999998,
 0.29660000000000003,
 0.26199999999999996,
 0.28280000000000005,
 0.28100000000000003,
 0.27620000000000006,
 0.29960000000000003,
 0.32580000000000003,
 0.2974,
 0.33600000000000002,
 0.39740000000000003,
 0.37640000000000001,
 0.38120000000000004,
 0.40360000000000007,
 0.3584,
 0.31780000000000003,
 0.33560000000000001,
 0.32500000000000001,
 0.33940000000000003,
 0.36459999999999998,
 0.36699999999999999,
 0.37319999999999998,
 0.36659999999999993,
 0.38680000000000003,
 0.39219999999999999,
 0.33859999999999996,
 0.33379999999999999,
 0.31759999999999999,
 0.28720000000000001,
 0.28260000000000002,
 0.32379999999999998,
 0.29420000000000002,
 0.29400000000000004,
 0.30499999999999999,
 0.25480000000000003,
 0.26860000000000001,
 0.27639999999999998,
 0.32319999999999999,
 0.27639999999999998,
 0.27179999999999999,
 0.28619999999999995,
 0.2394,
 0.2424,
 0.24939999999999998,
 0.27179999999999999,
 0.27360000000000001,
 0.30120000000000002,
 0.31359999999999999,
 0.30580000000000002,
 0.30959999999999999,
 0.30779999999999996,
 0.28759999999999997,
 0.28860000000000002,
 0.28040000000000004,
 0.27739999999999998,
 0.24679999999999999,
 0.26819999999999999,
 0.28399999999999997,
 0.32479999999999998,
 0.313,
 0.36699999999999994,
 0.38740000000000002,
 0.376,
 0.37959999999999999,
 0.38380000000000003,
 0.33100000000000007,
 0.28039999999999998,
 0.3004,
 0.26100000000000001,
 0.26700000000000002,
 0.2888,
 0.2752,
 0.2344,
 0.24079999999999999,
 0.22599999999999998,
 0.18959999999999999,
 0.20740000000000003,
 0.2064,
 0.21680000000000002,
 0.24840000000000001,
 0.25979999999999998,
 0.2576,
 0.28179999999999999,
 0.2646,
 0.23900000000000002,
 0.25559999999999999,
 0.24759999999999999,
 0.23600000000000004,
 0.25439999999999996,
 0.24440000000000001,
 0.27300000000000002,
 0.30580000000000002,
 0.2964,
 0.29339999999999999,
 0.31919999999999998,
 0.27620000000000006,
 0.30419999999999997,
 0.31420000000000003,
 0.30159999999999998,
 0.33120000000000005,
 0.35760000000000003,
 0.31940000000000002,
 0.33199999999999996,
 0.377,
 0.35419999999999996,
 0.36380000000000001,
 0.41039999999999999,
 0.38700000000000001,
 0.39079999999999998,
 0.37279999999999996,
 0.37040000000000001,
 0.31580000000000003,
 0.29859999999999998,
 0.24419999999999997,
 0.22960000000000003,
 0.24780000000000002,
 0.24740000000000001,
 0.27360000000000007,
 0.33019999999999994,
 0.28959999999999997,
 0.25839999999999996,
 0.246,
 0.24899999999999997,
 0.24180000000000001,
 0.23040000000000002,
 0.2366,
 0.2278,
 0.28139999999999998,
 0.32500000000000001,
 0.32140000000000002,
 0.33540000000000003,
 0.32679999999999998,
 0.27260000000000006,
 0.22339999999999999,
 0.19759999999999997,
 0.15679999999999999,
 0.17359999999999998,
 0.1762,
 0.17680000000000001,
 0.23680000000000004,
 0.2412,
 0.24759999999999999,
 0.25659999999999999,
 0.2404,
 0.21160000000000001,
 0.254,
 0.22720000000000001,
 0.26799999999999996,
 0.30879999999999996,
 0.31719999999999998,
 0.29359999999999997,
 0.30080000000000001,
 0.25640000000000002,
 0.2762,
 0.26619999999999999,
 0.28060000000000002,
 0.27639999999999998,
 0.27400000000000002,
 0.23799999999999999,
 0.23780000000000001,
 0.20419999999999999,
 0.22279999999999997,
 0.2432,
 0.25800000000000001,
 0.24739999999999998,
 0.25740000000000002,
 0.26100000000000001,
 0.27400000000000002,
 0.2858,
 0.31880000000000003,
 0.33040000000000003,
 0.33700000000000002,
 0.31599999999999995,
 0.31180000000000002,
 0.28799999999999998,
 0.33260000000000001,
 0.31059999999999999,
 0.30759999999999998,
 0.31340000000000001,
 0.32639999999999997,
 0.2954,
 0.30299999999999999,
 0.34079999999999999,
 0.33999999999999997,
 0.32779999999999998,
 0.3256,
 0.27539999999999998,
 0.23440000000000003,
 0.23280000000000003,
 0.25659999999999999,
 0.26000000000000001,
 0.28399999999999997,
 0.30520000000000003,
 0.30199999999999999,
 0.28520000000000001,
 0.30599999999999999,
 0.3448,
 0.34199999999999997,
 0.35260000000000002,
 0.33940000000000003,
 0.30460000000000004,
 0.26860000000000006,
 0.26700000000000002,
 0.25760000000000005,
 0.26500000000000001,
 0.29880000000000001,
 0.31140000000000001,
 0.33360000000000001,
 0.35219999999999996,
 0.32019999999999998,
 0.27959999999999996,
 0.27880000000000005,
 0.25599999999999995,
 0.24300000000000002,
 0.28179999999999999,
 0.29699999999999999,
 0.29999999999999999,
 0.35160000000000002,
 0.36939999999999995,
 0.33279999999999993,
 0.37619999999999998,
 0.36959999999999998,
 0.33540000000000003,
 0.32579999999999998,
 0.32619999999999993,
 0.29820000000000002,
 0.32300000000000001,
 0.309,
 0.28220000000000001,
 0.25759999999999994,
 0.25279999999999997,
 0.2432,
 0.23959999999999998,
 0.24559999999999998,
 0.25480000000000003,
 0.26279999999999998,
 0.2492,
 0.31859999999999999,
 0.34820000000000001,
 0.376,
 0.33660000000000001,
 0.35880000000000001,
 0.27579999999999999,
 0.23999999999999999,
 0.23599999999999999,
 0.27000000000000002,
 0.25040000000000001,
 0.25640000000000002,
 0.25080000000000002,
 0.25220000000000004,
 0.25880000000000003,
 0.26219999999999999,
 0.2606,
 0.28399999999999997,
 0.253,
 0.23979999999999996,
 0.24740000000000001,
 0.22700000000000001,
 0.22679999999999997,
 0.23620000000000002,
 0.26419999999999999,
 0.254,
 0.29339999999999999,
 0.27460000000000001,
 0.28100000000000003,
 0.25859999999999994,
 0.25280000000000002,
 0.22900000000000001,
 0.23199999999999998,
 0.21579999999999999,
 0.22900000000000001,
 0.22839999999999999,
 0.22919999999999999,
 0.24180000000000001,
 0.26439999999999997,
 0.2712,
 0.27000000000000002,
 0.29979999999999996,
 0.3296,
 0.32999999999999996,
 0.31900000000000001,
 0.34640000000000004,
 0.30859999999999999,
 0.20960000000000001,
 0.22059999999999999,
 0.23199999999999998,
 0.2346,
 0.2752,
 0.29520000000000002,
 0.29320000000000002,
 0.31399999999999995,
 0.31979999999999997,
 0.28820000000000001,
 0.27559999999999996,
 0.26959999999999995,
 0.23559999999999998,
 0.25180000000000002,
 0.2712,
 0.25740000000000002,
 0.25800000000000001,
 0.28619999999999995,
 0.25919999999999999,
 0.254,
 0.30779999999999996,
 0.33540000000000003,
 0.33920000000000006,
 0.37760000000000005,
 0.36199999999999999,
 0.34880000000000005,
 0.29599999999999999,
 0.24539999999999998,
 0.21160000000000001,
 0.18880000000000002,
 0.157,
 0.19180000000000003,
 0.24080000000000004,
 0.27460000000000001,
 0.32120000000000004,
 0.33900000000000002,
 0.30680000000000002,
 0.32119999999999999,
 0.30040000000000006,
 0.28079999999999999,
 0.2636,
 0.27400000000000002,
 0.28339999999999999,
 0.28399999999999997,
 0.28320000000000001,
 0.31559999999999999,
 0.34800000000000003,
 0.31359999999999999,
 0.32419999999999999,
 0.34019999999999995,
 0.33460000000000001,
 0.29259999999999997,
 0.31379999999999997,
 0.29100000000000004,
 0.2792,
 0.23619999999999997,
 0.29599999999999999,
 0.26819999999999999,
 0.28999999999999998,
 0.2732,
 0.26300000000000001,
 0.21840000000000001,
 0.21779999999999999,
 0.20519999999999999,
 0.19800000000000001,
 0.2016,
 0.17099999999999999,
 0.1706,
 0.153,
 0.1668,
 0.1774,
 0.21680000000000002,
 0.21659999999999999,
 0.25179999999999997,
 0.23440000000000003,
 0.2394,
 0.21240000000000001,
 0.20400000000000001,
 0.19,
 0.20379999999999998,
 0.2016,
 0.20459999999999998,
 0.23459999999999998,
 0.23579999999999995,
 0.24939999999999998,
 0.27679999999999999,
 0.30199999999999999,
 0.32679999999999998,
 0.32599999999999996,
 0.32100000000000001,
 0.31319999999999998,
 0.2712,
 0.25060000000000004,
 0.2576,
 0.24080000000000004,
 0.2404,
 0.26420000000000005,
 0.2576,
 0.29359999999999997,
 0.37279999999999996,
 0.33679999999999993,
 0.34460000000000002,
 0.36139999999999994,
 0.32459999999999994,
 0.28839999999999993,
 0.32120000000000004,
 0.33960000000000001,
 0.3024,
 0.31599999999999995,
 0.2828,
 0.27439999999999998,
 0.25919999999999999,
 0.27700000000000002,
 0.29720000000000002,
 0.31240000000000001,
 0.31280000000000002,
 0.30320000000000003,
 0.34279999999999999,
 0.30959999999999999,
 0.30959999999999999,
 0.32900000000000001,
 0.32179999999999997,
 0.28539999999999999,
 0.2838,
 0.27339999999999998,
 0.25900000000000001,
 0.29139999999999999,
 0.27339999999999998,
 0.27640000000000003,
 0.28399999999999997,
 0.27960000000000002,
 0.2394,
 0.25680000000000003,
 0.27100000000000002,
 0.29100000000000004,
 0.29400000000000004,
 0.3024,
 0.28799999999999998,
 0.26039999999999996,
 0.22199999999999998,
 0.24379999999999996,
 0.24100000000000002,
 0.2412,
 0.25620000000000004,
 0.29300000000000004,
 0.26400000000000001,
 0.27380000000000004,
 0.25980000000000003,
 0.2702,
 0.24000000000000005,
 0.22620000000000001,
 0.23159999999999997,
 0.23200000000000004,
 0.23700000000000002,
 0.25779999999999997,
 0.25779999999999997,
 0.23280000000000003,
 0.2334,
 0.23800000000000004,
 0.22420000000000001,
 0.23199999999999998,
 0.2354,
 0.24259999999999998,
 0.22259999999999999,
 0.20680000000000001,
 0.1996,
 0.2414,
 0.24880000000000005,
 0.24980000000000002,
 0.21539999999999998,
 0.20800000000000002,
 0.18460000000000001,
 0.20319999999999999,
 0.20340000000000003,
 0.1792,
 0.2122,
 0.24579999999999996,
 0.2346,
 0.25119999999999998,
 0.25360000000000005,
 0.24539999999999998,
 0.21160000000000001,
 0.19939999999999999,
 0.19800000000000001,
 0.21200000000000002,
 0.2112,
 0.23479999999999998,
 0.22840000000000002,
 0.21820000000000001,
 0.21880000000000002,
 0.22220000000000001,
 0.21939999999999998,
 0.20660000000000003,
 0.23079999999999998,
 0.22420000000000001,
 0.22819999999999996,
 0.22839999999999999,
 0.24219999999999997,
 0.219,
 0.24620000000000003,
 0.2306,
 0.1976,
 0.18419999999999997,
 0.19020000000000001,
 0.17799999999999999,
 0.1812,
 0.18359999999999999,
 0.22500000000000001,
 0.23039999999999999,
 0.23879999999999998,
 0.22360000000000002,
 0.23359999999999997,
 0.21100000000000002,
 0.23259999999999997,
 0.23539999999999997,
 0.24740000000000001,
 0.29600000000000004,
 0.31159999999999999,
 0.2596,
 0.26400000000000001,
 0.24500000000000002,
 0.18119999999999997,
 0.1648,
 0.2122,
 0.18099999999999999,
 0.22279999999999997,
 0.23840000000000003,
 0.2432,
 0.25439999999999996,
 0.31779999999999997,
 0.28260000000000002,
 0.30859999999999999,
 0.30180000000000001,
 0.29580000000000001,
 0.22459999999999997,
 0.23799999999999999,
 0.22359999999999997,
 0.23220000000000002,
 0.20379999999999998,
 0.24359999999999998,
 0.25440000000000002,
 0.24060000000000001,
 0.23480000000000004,
 0.21560000000000001,
 0.18899999999999997,
 0.15920000000000001,
 0.26100000000000001,
 0.30599999999999994,
 0.30199999999999994,
 0.35260000000000002,
 0.38100000000000006,
 0.34840000000000004,
 0.34260000000000002,
 0.36180000000000001,
 0.31159999999999999,
 0.29500000000000004,
 0.31619999999999998,
 0.29399999999999998,
 0.2908,
 0.32440000000000002,
 0.31319999999999998,
 0.31979999999999997,
 0.3216,
 0.29959999999999998,
 0.28260000000000002,
 0.27939999999999998,
 0.24279999999999999,
 0.27880000000000005,
 0.24679999999999999,
 0.25719999999999998,
 0.28660000000000002,
 0.29620000000000002,
 0.29020000000000001,
 0.31459999999999999,
 0.29640000000000005,
 0.28060000000000002,
 0.32700000000000007,
 0.31179999999999997,
 0.28200000000000003,
 0.33460000000000001,
 0.32579999999999998,
 0.26779999999999998,
 0.23920000000000002,
 0.253,
 0.20659999999999998,
 0.20480000000000001,
 0.23199999999999998,
 0.24959999999999999,
 0.26100000000000001,
 0.26100000000000001,
 0.30879999999999996,
 0.33119999999999999,
 0.379,
 0.36560000000000004,
 0.40199999999999997,
 0.41920000000000002,
 0.35959999999999998,
 0.29259999999999997,
 0.28819999999999996,
 0.22159999999999996,
 0.16819999999999999,
 0.18279999999999999,
 0.183,
 0.17280000000000001,
 0.20119999999999999,
 0.19619999999999999,
 0.2198,
 0.22919999999999999,
 0.25999999999999995,
 0.28619999999999995,
 0.2848,
 0.27660000000000001,
 0.27139999999999997,
 0.26840000000000003,
 0.25319999999999998,
 0.28159999999999996,
 0.29020000000000001,
 0.27480000000000004,
 0.32000000000000001,
 0.28900000000000003,
 0.26420000000000005,
 0.22820000000000001,
 0.26319999999999999,
 0.20080000000000001,
 0.20600000000000002,
 0.24540000000000001,
 0.25680000000000003,
 0.22820000000000001,
 0.1764,
 0.18440000000000001,
 0.16739999999999999,
 0.17379999999999998,
 0.2104,
 0.20540000000000003,
 0.20540000000000003,
 0.25619999999999998,
 0.28280000000000005,
 0.2908,
 0.27419999999999994,
 0.25659999999999999,
 0.22139999999999999,
 0.19240000000000002,
 0.1744,
 0.19839999999999999,
 0.22539999999999999,
 0.21280000000000002,
 0.2112,
 0.19799999999999998,
 0.191,
 0.15620000000000001,
 0.17080000000000001,
 0.1772,
 0.17119999999999999,
 0.17780000000000001,
 0.185,
 0.21680000000000002,
 0.21779999999999999,
 0.25219999999999998,
 0.22879999999999998,
 0.2974,
 0.30120000000000002,
 0.28500000000000003,
 0.26900000000000002,
 0.28759999999999997,
 0.23599999999999999,
 0.19500000000000001,
 0.22839999999999999,
 0.21480000000000002,
 0.20379999999999998,
 0.19800000000000001,
 0.21539999999999998,
 0.18300000000000002,
 0.2218,
 0.23339999999999997,
 0.22939999999999999,
 0.2142,
 0.2404,
 0.21739999999999998,
 0.21160000000000001,
 0.22359999999999997,
 0.23100000000000001,
 0.22059999999999996,
 0.2102,
 0.2344,
 0.2298,
 0.24900000000000003,
 0.22199999999999998,
 0.2802,
 0.27080000000000004,
 0.255,
 0.24560000000000004,
 0.26660000000000006,
 0.22959999999999997,
 0.2132,
 0.21980000000000005,
 0.21400000000000002,
 0.1986,
 0.19980000000000003,
 0.2218,
 0.217,
 0.2172,
 0.23079999999999998,
 0.23020000000000002,
 0.21440000000000001,
 0.21920000000000001,
 0.21360000000000001,
 0.21640000000000001,
 0.19600000000000001,
 0.18559999999999999,
 0.15660000000000002,
 0.23599999999999999,
 0.22119999999999998,
 0.22879999999999998,
 0.27499999999999997,
 0.28399999999999997,
 0.2802,
 0.28440000000000004,
 0.24939999999999998,
 0.22919999999999999,
 0.22459999999999997,
 0.25080000000000002,
 0.26860000000000006,
 0.26860000000000006,
 0.27660000000000001,
 0.30080000000000007,
 0.31100000000000005,
 0.28760000000000002,
 0.30300000000000005,
 0.29200000000000004,
 0.29199999999999998,
 0.29779999999999995,
 0.30680000000000002,
 0.33000000000000002,
 0.33120000000000005,
 0.312,
 0.29700000000000004,
 0.28700000000000003,
 0.2384,
 0.24059999999999998,
 0.22639999999999999,
 0.1812,
 0.2036,
 0.26240000000000002,
 0.24699999999999997,
 0.24500000000000002,
 0.26220000000000004,
 0.26639999999999997,
 0.28499999999999998,
 0.28559999999999997,
 0.30100000000000005,
 0.29720000000000002,
 0.28339999999999999,
 0.253,
 0.25519999999999998,
 0.24660000000000001,
 0.25159999999999999,
 0.2646,
 0.23579999999999995,
 0.28739999999999999,
 0.27399999999999997,
 0.26499999999999996,
 0.25440000000000002,
 0.25020000000000003,
 0.25019999999999998,
 0.3014,
 0.29320000000000002,
 0.28799999999999998,
 0.3216,
 0.26680000000000004,
 0.27399999999999997,
 0.30999999999999994,
 0.2918,
 0.27979999999999999,
 0.28639999999999999,
 0.22020000000000001,
 0.19460000000000002,
 0.21280000000000002,
 0.24019999999999997,
 0.2424,
 0.27160000000000001,
 0.28360000000000002,
 0.27460000000000001,
 0.2354,
 0.22479999999999997,
 0.21059999999999998,
 0.18580000000000002,
 0.17419999999999999,
 0.1928,
 0.20779999999999998,
 0.22539999999999999,
 0.23300000000000001,
 0.24620000000000003,
 0.33900000000000002,
 0.31440000000000001,
 0.33860000000000001,
 0.31280000000000002,
 0.30419999999999997,
 0.31940000000000002,
 0.28720000000000001,
 0.24420000000000003,
 0.24879999999999999,
 0.2404,
 0.2172,
 0.217,
 0.22400000000000003,
 0.21020000000000003,
 0.23220000000000002,
 0.22559999999999997,
 0.24220000000000003,
 0.25780000000000003,
 0.2636,
 0.25,
 0.27600000000000002,
 0.31059999999999999,
 0.28700000000000003,
 0.30380000000000001,
 0.30759999999999998,
 0.32999999999999996,
 0.28599999999999998,
 0.28179999999999999,
 0.25819999999999999,
 0.25739999999999996,
 0.23860000000000001,
 0.23480000000000004,
 0.2596,
 0.2898,
 0.33739999999999998,
 0.33999999999999997,
 0.35500000000000004,
 0.35960000000000003,
 0.31580000000000003,
 0.2792,
 0.29660000000000003,
 0.2984,
 0.31640000000000001,
 0.35799999999999998,
 0.35060000000000002,
 0.30179999999999996,
 0.28879999999999995,
 0.2636,
 0.26680000000000004,
 0.3034,
 0.34100000000000003,
 0.36360000000000003,
 0.35279999999999995,
 0.35099999999999998,
 0.30320000000000003,
 0.31479999999999997,
 0.30059999999999998,
 0.34059999999999996,
 0.34079999999999999,
 0.34260000000000002,
 0.35120000000000001,
 0.40060000000000001,
 0.38460000000000005,
 0.40580000000000005,
 0.3916,
 0.40340000000000009,
 0.38,
 0.36259999999999998,
 0.34060000000000007,
 0.37240000000000001,
 0.35560000000000003,
 0.33520000000000005,
 0.31980000000000003,
 0.30260000000000004,
 0.32400000000000001,
 0.29020000000000001,
 0.28920000000000001,
 0.29219999999999996,
 0.32640000000000002,
 0.29900000000000004,
 0.32600000000000001,
 0.33960000000000001,
 0.24539999999999998,
 0.2782,
 0.25399999999999995,
 0.23020000000000002,
 0.24739999999999998,
 0.26759999999999995,
 0.22240000000000001,
 0.21359999999999996,
 0.23759999999999998,
 0.22320000000000001,
 0.2218,
 0.21600000000000003,
 0.20960000000000001,
 0.24159999999999998,
 0.25900000000000001,
 0.21719999999999998,
 0.22839999999999999,
 0.23959999999999998,
 0.17839999999999995,
 0.20599999999999996,
 0.2712,
 0.32019999999999998,
 0.38859999999999995,
 0.44879999999999998,
 0.41900000000000004,
 0.35320000000000001,
 0.30900000000000005,
 0.25900000000000001,
 0.24380000000000002,
 0.22459999999999999,
 0.27440000000000003,
 0.30700000000000005,
 0.27639999999999998,
 0.28959999999999997,
 0.31540000000000001,
 0.29859999999999998,
 0.30880000000000002,
 0.32500000000000001,
 0.31680000000000003,
 0.27039999999999997,
 0.25419999999999998,
 0.23980000000000001,
 0.2616,
 0.24060000000000001,
 0.2712,
 0.27359999999999995,
 0.29160000000000003,
 0.2888,
 0.31999999999999995,
 0.33379999999999999,
 0.32480000000000003,
 0.30680000000000002,
 0.31039999999999995,
 0.2676,
 0.26139999999999997,
 0.3054,
 0.27139999999999997,
 0.253,
 0.24860000000000002,
 0.24399999999999999,
 0.22199999999999998,
 0.25119999999999998,
 0.25999999999999995,
 0.23919999999999994,
 0.22120000000000001,
 0.22480000000000003,
 0.24100000000000002,
 0.22160000000000002,
 0.23879999999999998,
 0.2606,
 0.25480000000000003,
 0.22040000000000001,
 0.20919999999999997,
 0.24979999999999997,
 0.2712,
 0.25359999999999999,
 0.25820000000000004,
 0.27300000000000002,
 0.24820000000000003,
 0.22679999999999997,
 0.23580000000000001,
 0.23700000000000002,
 0.33639999999999998,
 0.33879999999999999,
 0.30440000000000006,
 0.36599999999999999,
 0.34580000000000005,
 0.36320000000000002,
 0.29299999999999998,
 0.30259999999999992,
 0.28339999999999999,
 0.32340000000000002,
 0.34320000000000006,
 0.35900000000000004,
 0.38520000000000004,
 0.39880000000000004,
 0.37720000000000004,
 0.39340000000000003,
 ...]

In [129]:
for i in range(2460):
    df_allTeams.loc[i,'FTA RATE'] = list_avg_fta[i]

df_allTeams.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,ATL,10/27/16,48,0.5448,0.2716,0.204,0.333,0.457,0.191,0.174,0.240,WAS,1,0,0,1
1,ATL,10/29/16,48,0.5472,0.2362,0.119,0.146,0.381,0.188,0.195,0.089,PHI,0,2,3,1
2,ATL,10/31/16,48,0.5328,0.2724,0.136,0.347,0.547,0.253,0.197,0.188,SAC,1,2,2,1
3,ATL,11/2/16,48,0.5270,0.3126,0.170,0.244,0.583,0.222,0.146,0.289,LAL,1,2,1,0
4,ATL,11/4/16,48,0.5238,0.3352,0.168,0.222,0.419,0.438,0.184,0.229,WAS,0,2,2,0

In [113]:
list_avg_tov = list_5efg
list_avg_tov

[0.15540000000000001,
 0.1648,
 0.16599999999999998,
 0.17180000000000001,
 0.16920000000000002,
 0.15940000000000001,
 0.15760000000000002,
 0.17200000000000001,
 0.18859999999999999,
 0.186,
 0.193,
 0.18640000000000001,
 0.182,
 0.16500000000000001,
 0.16400000000000001,
 0.1676,
 0.16419999999999998,
 0.155,
 0.1646,
 0.17480000000000001,
 0.14500000000000002,
 0.154,
 0.16460000000000002,
 0.1578,
 0.15120000000000003,
 0.1668,
 0.15700000000000003,
 0.14680000000000001,
 0.14860000000000001,
 0.13679999999999998,
 0.12279999999999999,
 0.1356,
 0.1376,
 0.1356,
 0.13619999999999999,
 0.1482,
 0.13700000000000001,
 0.1318,
 0.12520000000000001,
 0.12820000000000001,
 0.14099999999999999,
 0.13139999999999999,
 0.13579999999999998,
 0.15279999999999999,
 0.15379999999999999,
 0.12899999999999998,
 0.13699999999999998,
 0.14859999999999998,
 0.12979999999999997,
 0.13419999999999999,
 0.15699999999999997,
 0.1638,
 0.15179999999999999,
 0.15279999999999999,
 0.156,
 0.13419999999999999,
 0.14499999999999999,
 0.13979999999999998,
 0.153,
 0.14540000000000003,
 0.17760000000000001,
 0.15460000000000002,
 0.16560000000000002,
 0.16819999999999999,
 0.1694,
 0.1618,
 0.17680000000000001,
 0.17599999999999999,
 0.17580000000000001,
 0.17300000000000001,
 0.16959999999999997,
 0.16260000000000002,
 0.1666,
 0.16819999999999999,
 0.17819999999999997,
 0.17640000000000003,
 0.17180000000000001,
 0.1762,
 0.16840000000000002,
 0.15579999999999999,
 0.14079999999999998,
 0.1512,
 0.14500000000000002,
 0.14120000000000002,
 0.1462,
 0.15640000000000001,
 0.16260000000000002,
 0.1646,
 0.16500000000000001,
 0.17360000000000003,
 0.17419999999999999,
 0.17680000000000001,
 0.182,
 0.1764,
 0.16619999999999999,
 0.14979999999999999,
 0.15440000000000001,
 0.15019999999999997,
 0.15740000000000001,
 0.14779999999999999,
 0.16400000000000001,
 0.15360000000000001,
 0.15620000000000001,
 0.1532,
 0.16340000000000002,
 0.1646,
 0.17080000000000001,
 0.16040000000000001,
 0.16220000000000001,
 0.16320000000000001,
 0.17319999999999999,
 0.17760000000000001,
 0.17560000000000003,
 0.17680000000000001,
 0.18680000000000002,
 0.17199999999999999,
 0.16160000000000002,
 0.16640000000000002,
 0.17699999999999999,
 0.17060000000000003,
 0.1678,
 0.16540000000000002,
 0.16300000000000001,
 0.14600000000000002,
 0.14080000000000001,
 0.13880000000000001,
 0.14900000000000002,
 0.14560000000000001,
 0.14180000000000001,
 0.13980000000000001,
 0.14579999999999999,
 0.15259999999999999,
 0.15920000000000001,
 0.18119999999999997,
 0.18579999999999999,
 0.1842,
 0.18759999999999999,
 0.17680000000000001,
 0.16500000000000001,
 0.16699999999999998,
 0.16900000000000001,
 0.16360000000000002,
 0.16200000000000001,
 0.15819999999999998,
 0.15720000000000001,
 0.16619999999999999,
 0.15279999999999999,
 0.16060000000000002,
 0.17240000000000003,
 0.16739999999999999,
 0.1452,
 0.15179999999999999,
 0.1434,
 0.13340000000000002,
 0.13200000000000001,
 0.14620000000000002,
 0.13940000000000002,
 0.14200000000000002,
 0.13340000000000002,
 0.1462,
 0.14579999999999999,
 0.14799999999999999,
 0.1472,
 0.1484,
 0.1096,
 0.11979999999999999,
 0.1226,
 0.13100000000000001,
 0.12920000000000001,
 0.12859999999999999,
 0.11600000000000002,
 0.11400000000000002,
 0.1176,
 0.12279999999999999,
 0.13040000000000002,
 0.14760000000000001,
 0.1512,
 0.13899999999999998,
 0.13400000000000001,
 0.13800000000000001,
 0.11739999999999999,
 0.11099999999999999,
 0.10539999999999998,
 0.11080000000000001,
 0.1072,
 0.10739999999999998,
 0.10779999999999998,
 0.12379999999999999,
 0.12279999999999999,
 0.126,
 0.1318,
 0.13699999999999998,
 0.13400000000000001,
 0.1236,
 0.1212,
 0.10899999999999999,
 0.1196,
 0.11640000000000002,
 0.12659999999999999,
 0.13300000000000001,
 0.1532,
 0.13720000000000002,
 0.14419999999999999,
 0.14380000000000001,
 0.1386,
 0.13,
 0.11560000000000001,
 0.12360000000000002,
 0.12260000000000001,
 0.13180000000000003,
 0.12600000000000003,
 0.14420000000000002,
 0.1268,
 0.11939999999999999,
 0.11579999999999999,
 0.11779999999999999,
 0.13100000000000001,
 0.1278,
 0.14140000000000003,
 0.13600000000000001,
 0.156,
 0.13420000000000001,
 0.14340000000000003,
 0.13980000000000001,
 0.14780000000000001,
 0.13159999999999999,
 0.14940000000000003,
 0.15079999999999999,
 0.14240000000000003,
 0.1376,
 0.14760000000000001,
 0.15740000000000001,
 0.15160000000000001,
 0.155,
 0.16,
 0.15360000000000001,
 0.1452,
 0.15040000000000001,
 0.16339999999999999,
 0.1618,
 0.1532,
 0.15379999999999999,
 0.15360000000000001,
 0.1376,
 0.1236,
 0.12920000000000001,
 0.11219999999999999,
 0.099000000000000005,
 0.1022,
 0.10659999999999999,
 0.1176,
 0.11680000000000001,
 0.11899999999999999,
 0.12079999999999999,
 0.1268,
 0.10600000000000001,
 0.10200000000000001,
 0.1008,
 0.10840000000000001,
 0.10819999999999999,
 0.12959999999999999,
 0.12740000000000001,
 0.12659999999999999,
 0.12859999999999999,
 0.13140000000000002,
 0.121,
 0.123,
 0.128,
 0.11200000000000002,
 0.11219999999999999,
 0.1192,
 0.11839999999999999,
 0.13039999999999999,
 0.14219999999999999,
 0.13920000000000002,
 0.13100000000000001,
 0.1268,
 0.11059999999999999,
 0.11599999999999999,
 0.10979999999999998,
 0.1182,
 0.12840000000000001,
 0.12859999999999999,
 0.10940000000000001,
 0.12520000000000001,
 0.1182,
 0.12400000000000003,
 0.12580000000000002,
 0.14040000000000002,
 0.13980000000000001,
 0.14460000000000001,
 0.12379999999999998,
 0.12940000000000002,
 0.1308,
 0.122,
 0.11539999999999999,
 0.11839999999999999,
 0.11019999999999999,
 0.097200000000000009,
 0.11520000000000001,
 0.11239999999999999,
 0.1226,
 0.14079999999999998,
 0.14299999999999999,
 0.1246,
 0.13840000000000002,
 0.1336,
 0.1244,
 0.1226,
 0.12379999999999999,
 0.1182,
 0.10920000000000001,
 0.097799999999999998,
 0.097000000000000003,
 0.093200000000000019,
 0.084599999999999995,
 0.086200000000000013,
 0.08879999999999999,
 0.099000000000000005,
 0.091800000000000007,
 0.083999999999999991,
 0.085999999999999993,
 0.07980000000000001,
 0.091200000000000017,
 0.11019999999999999,
 0.11459999999999999,
 0.10939999999999998,
 0.11499999999999999,
 0.1454,
 0.14099999999999999,
 0.13420000000000001,
 0.13980000000000001,
 0.15180000000000002,
 0.1542,
 0.1678,
 0.16099999999999998,
 0.14899999999999999,
 0.13500000000000001,
 0.1268,
 0.10880000000000001,
 0.10779999999999998,
 0.11380000000000001,
 0.12480000000000002,
 0.11939999999999999,
 0.12640000000000001,
 0.1358,
 0.12759999999999999,
 0.13679999999999998,
 0.15279999999999999,
 0.15579999999999999,
 0.16840000000000002,
 0.16700000000000001,
 0.14379999999999998,
 0.14859999999999998,
 0.14500000000000002,
 0.1346,
 0.14140000000000003,
 0.13919999999999999,
 0.13400000000000001,
 0.13780000000000001,
 0.14399999999999999,
 0.1416,
 0.14599999999999999,
 0.1404,
 0.13840000000000002,
 0.12820000000000001,
 0.1242,
 0.13519999999999999,
 0.13800000000000001,
 0.13,
 0.129,
 0.1336,
 0.14760000000000001,
 0.14399999999999999,
 0.15079999999999999,
 0.1406,
 0.15440000000000001,
 0.1288,
 0.12379999999999999,
 0.1246,
 0.12759999999999999,
 0.11579999999999999,
 0.11579999999999999,
 0.13399999999999998,
 0.14100000000000001,
 0.14119999999999999,
 0.13279999999999997,
 0.12399999999999997,
 0.11120000000000001,
 0.1086,
 0.13059999999999999,
 0.13020000000000001,
 0.15380000000000002,
 0.1628,
 0.1696,
 0.15039999999999998,
 0.14279999999999998,
 0.14279999999999998,
 0.1346,
 0.1236,
 0.12740000000000001,
 0.1426,
 0.13640000000000002,
 0.14080000000000001,
 0.13780000000000001,
 0.1356,
 0.1356,
 0.13600000000000001,
 0.13999999999999999,
 0.14180000000000001,
 0.14940000000000001,
 0.157,
 0.16560000000000002,
 0.15360000000000001,
 0.1394,
 0.12239999999999999,
 0.125,
 0.099800000000000014,
 0.11139999999999999,
 0.10719999999999999,
 0.1246,
 0.12919999999999998,
 0.14440000000000003,
 0.13539999999999999,
 0.1444,
 0.13120000000000001,
 0.13519999999999999,
 0.14499999999999996,
 0.16319999999999998,
 0.1678,
 0.17280000000000001,
 0.15740000000000001,
 0.15819999999999998,
 0.1552,
 0.14660000000000001,
 0.1386,
 0.13379999999999997,
 0.12079999999999999,
 0.10440000000000001,
 0.1038,
 0.13040000000000002,
 0.1464,
 0.13479999999999998,
 0.14040000000000002,
 0.14960000000000001,
 0.127,
 0.13279999999999997,
 0.15560000000000002,
 0.1628,
 0.15479999999999999,
 0.16159999999999999,
 0.14419999999999999,
 0.14199999999999999,
 0.13200000000000001,
 0.14300000000000002,
 0.1416,
 0.13719999999999999,
 0.13940000000000002,
 0.13720000000000002,
 0.13679999999999998,
 0.14600000000000002,
 0.14679999999999999,
 0.14220000000000002,
 0.153,
 0.1386,
 0.121,
 0.12740000000000001,
 0.12179999999999999,
 0.1246,
 0.126,
 0.13500000000000001,
 0.14460000000000001,
 0.15440000000000004,
 0.1414,
 0.13799999999999998,
 0.14199999999999999,
 0.12540000000000001,
 0.11539999999999999,
 0.11899999999999999,
 0.121,
 0.11119999999999999,
 0.11739999999999999,
 0.11899999999999999,
 0.1326,
 0.14320000000000002,
 0.1404,
 0.14379999999999998,
 0.1414,
 0.1236,
 0.1206,
 0.1328,
 0.14100000000000001,
 0.1244,
 0.1176,
 0.11979999999999999,
 0.1268,
 0.12959999999999999,
 0.13020000000000001,
 0.1368,
 0.1396,
 0.12740000000000001,
 0.12659999999999999,
 0.1196,
 0.12540000000000001,
 0.13000000000000003,
 0.15260000000000001,
 0.15660000000000002,
 0.16520000000000001,
 0.15479999999999999,
 0.15379999999999999,
 0.1426,
 0.1318,
 0.11840000000000002,
 0.13640000000000002,
 0.1278,
 0.1216,
 0.12559999999999999,
 0.13720000000000002,
 0.10780000000000001,
 0.11280000000000001,
 0.11840000000000002,
 0.11600000000000002,
 0.11579999999999999,
 0.1236,
 0.12039999999999999,
 0.13219999999999998,
 0.12899999999999998,
 0.13240000000000002,
 0.1328,
 0.1416,
 0.1346,
 0.1348,
 0.12959999999999999,
 0.13140000000000002,
 0.1236,
 0.11799999999999999,
 0.1192,
 0.10979999999999998,
 0.10920000000000001,
 0.1022,
 0.096199999999999994,
 0.098000000000000004,
 0.098400000000000015,
 0.096000000000000002,
 0.096000000000000002,
 0.0998,
 0.1056,
 0.1152,
 0.10419999999999999,
 0.123,
 0.13740000000000002,
 0.13779999999999998,
 0.15920000000000001,
 0.16599999999999998,
 0.14899999999999997,
 0.13979999999999998,
 0.1424,
 0.124,
 0.12039999999999999,
 0.12479999999999999,
 0.12200000000000003,
 0.11080000000000001,
 0.10580000000000001,
 0.10939999999999998,
 0.11479999999999999,
 0.12079999999999999,
 0.11020000000000001,
 0.1072,
 0.11880000000000002,
 0.12640000000000001,
 0.12740000000000001,
 0.13600000000000001,
 0.13639999999999999,
 0.13240000000000002,
 0.15259999999999999,
 0.17599999999999999,
 0.1636,
 0.15639999999999998,
 0.16259999999999999,
 0.16319999999999998,
 0.15220000000000003,
 0.16699999999999998,
 0.18659999999999996,
 0.17939999999999998,
 0.1822,
 0.17540000000000003,
 0.16619999999999999,
 0.1482,
 0.13420000000000001,
 0.1206,
 0.1226,
 0.11099999999999999,
 0.1278,
 0.13880000000000001,
 0.14760000000000001,
 0.15660000000000002,
 0.16620000000000001,
 0.18780000000000002,
 0.18160000000000001,
 0.18919999999999998,
 0.17860000000000001,
 0.1658,
 0.13439999999999999,
 0.13639999999999999,
 0.12920000000000001,
 0.13400000000000001,
 0.14620000000000002,
 0.14200000000000002,
 0.14300000000000002,
 0.14200000000000002,
 0.13700000000000001,
 0.1278,
 0.13520000000000001,
 0.13700000000000001,
 0.14119999999999999,
 0.14220000000000002,
 0.13999999999999999,
 0.14799999999999999,
 0.14739999999999998,
 0.1454,
 0.14599999999999999,
 0.14760000000000001,
 0.14420000000000002,
 0.14360000000000001,
 0.15579999999999999,
 0.15820000000000001,
 0.15660000000000002,
 0.15340000000000001,
 0.14860000000000001,
 0.1484,
 0.1464,
 0.158,
 0.153,
 0.157,
 0.14599999999999999,
 0.14700000000000002,
 0.14300000000000002,
 0.15620000000000003,
 0.16040000000000001,
 0.16560000000000002,
 0.15479999999999999,
 0.15719999999999998,
 0.14119999999999999,
 0.1366,
 0.1376,
 0.13039999999999999,
 0.12520000000000001,
 0.12,
 0.11779999999999999,
 0.10640000000000001,
 0.10999999999999999,
 0.10600000000000001,
 0.11000000000000001,
 0.12620000000000001,
 0.124,
 0.14319999999999999,
 0.1162,
 0.11339999999999999,
 0.12559999999999999,
 0.11939999999999999,
 0.1216,
 0.13300000000000001,
 0.13340000000000002,
 0.13320000000000001,
 0.12279999999999999,
 0.1298,
 0.123,
 0.11359999999999999,
 0.11359999999999999,
 0.10539999999999998,
 0.091999999999999998,
 0.10100000000000001,
 0.11120000000000001,
 0.10880000000000001,
 0.11379999999999998,
 0.12199999999999997,
 0.1172,
 0.1186,
 0.12479999999999999,
 0.124,
 0.12640000000000001,
 0.1186,
 0.1202,
 0.13520000000000001,
 0.13579999999999998,
 0.12879999999999997,
 0.13779999999999998,
 0.14120000000000002,
 0.12520000000000001,
 0.1298,
 0.1336,
 0.14599999999999999,
 0.1368,
 0.13120000000000001,
 0.12120000000000002,
 0.11560000000000001,
 0.10440000000000001,
 0.11520000000000001,
 0.12240000000000002,
 0.12280000000000002,
 0.13159999999999999,
 0.14440000000000003,
 0.13940000000000002,
 0.13720000000000002,
 0.13639999999999999,
 0.13,
 0.11320000000000001,
 0.1244,
 0.1244,
 0.1386,
 0.1384,
 0.13159999999999999,
 0.12540000000000001,
 0.13040000000000002,
 0.11899999999999999,
 0.13240000000000002,
 0.13200000000000001,
 0.1096,
 0.094400000000000012,
 0.092600000000000002,
 0.07980000000000001,
 0.082400000000000001,
 0.08199999999999999,
 0.082600000000000007,
 0.087800000000000017,
 0.095199999999999993,
 0.1008,
 0.10100000000000001,
 0.11840000000000002,
 0.11639999999999999,
 0.12820000000000001,
 0.1338,
 0.15160000000000001,
 0.14120000000000002,
 0.15440000000000001,
 0.12639999999999998,
 0.13720000000000002,
 0.12479999999999999,
 0.13999999999999999,
 0.14560000000000001,
 0.14360000000000001,
 0.1552,
 0.15660000000000002,
 0.14960000000000001,
 0.15560000000000002,
 0.1598,
 0.1618,
 0.16220000000000001,
 0.15920000000000001,
 0.1444,
 0.13699999999999998,
 0.12820000000000001,
 0.1212,
 0.11079999999999998,
 0.1222,
 0.13779999999999998,
 0.14360000000000001,
 0.14799999999999999,
 0.1618,
 0.1474,
 0.12919999999999998,
 0.13479999999999998,
 0.154,
 0.1394,
 0.14199999999999999,
 0.15539999999999998,
 0.14960000000000001,
 0.1234,
 0.12840000000000001,
 0.14899999999999999,
 0.15380000000000002,
 0.16499999999999998,
 0.17080000000000001,
 0.1724,
 0.15740000000000001,
 0.14860000000000001,
 0.14199999999999999,
 0.13739999999999999,
 0.14560000000000001,
 0.14899999999999999,
 0.15420000000000003,
 0.14940000000000003,
 0.1646,
 0.15860000000000002,
 0.15079999999999999,
 0.13800000000000001,
 0.14340000000000003,
 0.126,
 0.122,
 0.13140000000000002,
 0.13600000000000001,
 0.1258,
 0.12940000000000002,
 0.124,
 0.1076,
 0.12179999999999999,
 0.11840000000000002,
 0.1222,
 0.14180000000000001,
 0.154,
 0.13020000000000001,
 0.14200000000000002,
 0.15360000000000001,
 0.1416,
 0.1434,
 0.1598,
 0.15279999999999999,
 0.14500000000000002,
 0.15379999999999999,
 0.15600000000000003,
 0.14960000000000001,
 0.16499999999999998,
 0.16700000000000001,
 0.16460000000000002,
 0.15560000000000002,
 0.15920000000000001,
 0.14479999999999998,
 0.14000000000000001,
 0.1268,
 0.13100000000000001,
 0.13919999999999999,
 0.13899999999999998,
 0.1512,
 0.152,
 0.13700000000000001,
 0.15640000000000001,
 0.17680000000000001,
 0.17419999999999999,
 0.17980000000000002,
 0.19439999999999999,
 0.191,
 0.17280000000000001,
 0.1618,
 0.1318,
 0.1404,
 0.16040000000000001,
 0.16040000000000001,
 0.15740000000000001,
 0.16239999999999999,
 0.1578,
 0.12740000000000001,
 0.13020000000000001,
 0.14479999999999998,
 0.15840000000000004,
 0.15920000000000001,
 0.15920000000000001,
 0.157,
 0.14699999999999999,
 0.14860000000000001,
 0.14860000000000001,
 0.14700000000000002,
 0.14320000000000002,
 0.15099999999999997,
 0.15560000000000002,
 0.14679999999999999,
 0.1472,
 0.14799999999999999,
 0.13319999999999999,
 0.1318,
 0.1346,
 0.13020000000000001,
 0.13140000000000002,
 0.13540000000000002,
 0.128,
 0.13320000000000001,
 0.1336,
 0.1318,
 0.13440000000000002,
 0.14960000000000001,
 0.14899999999999999,
 0.1734,
 0.17560000000000001,
 0.17760000000000001,
 0.15260000000000001,
 0.1414,
 0.1176,
 0.11979999999999999,
 0.13040000000000002,
 0.13100000000000001,
 0.14180000000000001,
 0.14419999999999999,
 0.13220000000000001,
 0.12720000000000001,
 0.13880000000000001,
 0.13059999999999999,
 0.1244,
 0.1348,
 0.11339999999999999,
 0.12200000000000003,
 0.1222,
 0.1326,
 0.1242,
 0.14740000000000003,
 0.14779999999999999,
 0.1502,
 0.15679999999999999,
 0.16460000000000002,
 0.15540000000000001,
 0.14720000000000003,
 0.14760000000000001,
 0.14740000000000003,
 0.14620000000000002,
 0.1396,
 0.14480000000000001,
 0.13420000000000001,
 0.13200000000000001,
 0.13280000000000003,
 0.15160000000000001,
 0.1492,
 0.15840000000000001,
 0.16119999999999998,
 0.1532,
 0.14040000000000002,
 0.1338,
 0.12079999999999999,
 0.12840000000000001,
 0.14440000000000003,
 0.14120000000000002,
 0.16139999999999999,
 0.17060000000000003,
 0.16260000000000002,
 0.15619999999999998,
 0.15379999999999999,
 0.1416,
 0.14679999999999999,
 0.14660000000000001,
 0.13920000000000002,
 0.1396,
 0.13099999999999998,
 0.1192,
 0.10939999999999998,
 0.11239999999999999,
 0.10739999999999998,
 0.12540000000000001,
 0.1366,
 0.1434,
 0.1366,
 0.14119999999999999,
 0.129,
 0.10640000000000001,
 0.11800000000000002,
 0.12620000000000001,
 0.1366,
 0.14500000000000002,
 0.1734,
 0.1706,
 0.16160000000000002,
 0.1666,
 0.15539999999999998,
 0.13479999999999998,
 0.1386,
 0.14920000000000003,
 0.1242,
 0.12379999999999999,
 0.12840000000000001,
 0.11180000000000001,
 0.1106,
 0.121,
 0.1268,
 0.12759999999999999,
 0.1426,
 0.14179999999999998,
 0.14779999999999999,
 0.15860000000000002,
 0.16560000000000002,
 0.16320000000000004,
 0.14360000000000003,
 0.15620000000000003,
 0.13819999999999999,
 0.13940000000000002,
 0.1386,
 0.15679999999999999,
 0.13219999999999998,
 0.14179999999999998,
 0.13400000000000001,
 0.122,
 0.12279999999999999,
 0.13220000000000001,
 0.13200000000000001,
 0.126,
 0.12659999999999999,
 0.13200000000000001,
 0.1348,
 0.1376,
 0.1182,
 0.096800000000000011,
 0.095000000000000001,
 0.10700000000000001,
 0.123,
 0.13340000000000002,
 0.13620000000000002,
 0.1326,
 0.11760000000000001,
 0.1018,
 0.10680000000000001,
 0.11200000000000002,
 0.1036,
 0.11680000000000001,
 0.126,
 0.1268,
 ...]

In [130]:
for i in range(2460):
    df_allTeams.loc[i,'TOV%'] = list_avg_tov[i]

df_allTeams.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,ATL,10/27/16,48,0.5448,0.2716,0.1554,0.333,0.457,0.191,0.174,0.240,WAS,1,0,0,1
1,ATL,10/29/16,48,0.5472,0.2362,0.1648,0.146,0.381,0.188,0.195,0.089,PHI,0,2,3,1
2,ATL,10/31/16,48,0.5328,0.2724,0.1660,0.347,0.547,0.253,0.197,0.188,SAC,1,2,2,1
3,ATL,11/2/16,48,0.5270,0.3126,0.1718,0.244,0.583,0.222,0.146,0.289,LAL,1,2,1,0
4,ATL,11/4/16,48,0.5238,0.3352,0.1692,0.222,0.419,0.438,0.184,0.229,WAS,0,2,2,0

In [116]:
list_avg_oreb = list_5efg
list_avg_oreb

[0.23280000000000003,
 0.23600000000000004,
 0.23599999999999999,
 0.26539999999999997,
 0.253,
 0.25840000000000002,
 0.25080000000000002,
 0.28099999999999997,
 0.28379999999999994,
 0.30320000000000003,
 0.29120000000000001,
 0.24939999999999998,
 0.22639999999999999,
 0.20699999999999999,
 0.16799999999999998,
 0.20800000000000002,
 0.21379999999999999,
 0.20859999999999998,
 0.2112,
 0.22199999999999998,
 0.17399999999999999,
 0.20400000000000001,
 0.20619999999999999,
 0.22259999999999999,
 0.22440000000000002,
 0.27219999999999994,
 0.30500000000000005,
 0.31159999999999999,
 0.26919999999999999,
 0.26300000000000001,
 0.22840000000000002,
 0.21660000000000004,
 0.23519999999999999,
 0.26439999999999997,
 0.27359999999999995,
 0.25419999999999998,
 0.22919999999999999,
 0.19979999999999998,
 0.2024,
 0.20979999999999999,
 0.26719999999999999,
 0.253,
 0.25579999999999992,
 0.24580000000000002,
 0.24479999999999999,
 0.2056,
 0.20500000000000002,
 0.20699999999999999,
 0.2082,
 0.19620000000000001,
 0.20200000000000001,
 0.22340000000000004,
 0.22280000000000003,
 0.23040000000000002,
 0.20880000000000001,
 0.19400000000000001,
 0.18279999999999999,
 0.18340000000000001,
 0.1696,
 0.21099999999999999,
 0.21319999999999997,
 0.22519999999999998,
 0.23899999999999996,
 0.25640000000000002,
 0.2452,
 0.25779999999999997,
 0.23659999999999998,
 0.21680000000000002,
 0.19319999999999998,
 0.19060000000000002,
 0.2084,
 0.21900000000000003,
 0.25759999999999994,
 0.29880000000000007,
 0.2954,
 0.30680000000000002,
 0.30979999999999996,
 0.27460000000000001,
 0.25680000000000003,
 0.24419999999999997,
 0.21280000000000002,
 0.22520000000000001,
 0.14780000000000001,
 0.19919999999999999,
 0.21980000000000005,
 0.22739999999999999,
 0.24459999999999998,
 0.24059999999999998,
 0.2092,
 0.19040000000000001,
 0.17280000000000001,
 0.14760000000000001,
 0.159,
 0.16640000000000002,
 0.1668,
 0.17919999999999997,
 0.18959999999999999,
 0.186,
 0.19,
 0.18759999999999999,
 0.19819999999999999,
 0.20140000000000002,
 0.22820000000000001,
 0.23580000000000001,
 0.248,
 0.23100000000000001,
 0.26619999999999999,
 0.2298,
 0.21640000000000001,
 0.23000000000000004,
 0.22459999999999999,
 0.17840000000000003,
 0.17200000000000001,
 0.17699999999999999,
 0.14960000000000001,
 0.1578,
 0.16360000000000002,
 0.18060000000000001,
 0.15960000000000002,
 0.18479999999999999,
 0.17599999999999999,
 0.16040000000000001,
 0.1588,
 0.18939999999999996,
 0.183,
 0.17199999999999999,
 0.17580000000000001,
 0.15919999999999998,
 0.12939999999999999,
 0.10640000000000001,
 0.15640000000000001,
 0.18160000000000001,
 0.19980000000000003,
 0.21259999999999998,
 0.20680000000000001,
 0.19619999999999999,
 0.20979999999999999,
 0.19919999999999999,
 0.21140000000000003,
 0.22259999999999999,
 0.20900000000000002,
 0.19900000000000001,
 0.2072,
 0.20420000000000002,
 0.2132,
 0.19359999999999999,
 0.15919999999999998,
 0.18019999999999997,
 0.16199999999999998,
 0.18519999999999998,
 0.1852,
 0.21200000000000002,
 0.1966,
 0.2392,
 0.20639999999999997,
 0.2366,
 0.23980000000000001,
 0.22939999999999999,
 0.20900000000000002,
 0.2162,
 0.17020000000000002,
 0.15240000000000001,
 0.15960000000000002,
 0.14979999999999999,
 0.18619999999999998,
 0.20999999999999996,
 0.18419999999999997,
 0.18139999999999998,
 0.18999999999999997,
 0.18559999999999999,
 0.17180000000000001,
 0.19019999999999998,
 0.23699999999999996,
 0.25979999999999998,
 0.26019999999999999,
 0.28039999999999998,
 0.27619999999999995,
 0.24479999999999996,
 0.20579999999999998,
 0.21100000000000002,
 0.186,
 0.18680000000000002,
 0.18680000000000002,
 0.20339999999999997,
 0.18679999999999999,
 0.18759999999999999,
 0.21259999999999998,
 0.20699999999999999,
 0.21340000000000003,
 0.219,
 0.20200000000000001,
 0.19480000000000003,
 0.20000000000000001,
 0.183,
 0.18940000000000001,
 0.22020000000000001,
 0.246,
 0.23959999999999998,
 0.23300000000000001,
 0.21340000000000003,
 0.20780000000000004,
 0.1968,
 0.19680000000000003,
 0.22080000000000002,
 0.24000000000000005,
 0.23100000000000001,
 0.20600000000000002,
 0.24179999999999996,
 0.22640000000000002,
 0.248,
 0.24479999999999999,
 0.24540000000000001,
 0.20540000000000003,
 0.22160000000000002,
 0.18680000000000002,
 0.18820000000000001,
 0.18260000000000001,
 0.21820000000000001,
 0.18540000000000001,
 0.18860000000000002,
 0.17960000000000001,
 0.16699999999999998,
 0.1416,
 0.1628,
 0.16300000000000001,
 0.17700000000000002,
 0.19220000000000004,
 0.2072,
 0.19580000000000003,
 0.2024,
 0.1968,
 0.22160000000000002,
 0.20099999999999998,
 0.20780000000000004,
 0.20319999999999999,
 0.24160000000000004,
 0.23560000000000003,
 0.25140000000000001,
 0.26420000000000005,
 0.29680000000000001,
 0.24460000000000001,
 0.22500000000000001,
 0.21279999999999996,
 0.20359999999999995,
 0.1588,
 0.17180000000000001,
 0.18580000000000002,
 0.18640000000000001,
 0.21300000000000002,
 0.20899999999999999,
 0.22519999999999998,
 0.20000000000000001,
 0.16720000000000002,
 0.1434,
 0.18159999999999998,
 0.1734,
 0.16720000000000002,
 0.18580000000000002,
 0.19280000000000003,
 0.16539999999999999,
 0.18940000000000001,
 0.2036,
 0.21440000000000001,
 0.22479999999999997,
 0.21179999999999999,
 0.17080000000000001,
 0.18439999999999998,
 0.19239999999999999,
 0.16880000000000001,
 0.20280000000000001,
 0.23399999999999999,
 0.22120000000000001,
 0.19919999999999999,
 0.23719999999999999,
 0.20939999999999998,
 0.22560000000000002,
 0.2374,
 0.25900000000000001,
 0.2616,
 0.27199999999999996,
 0.25640000000000002,
 0.2432,
 0.23479999999999998,
 0.20939999999999998,
 0.20579999999999998,
 0.17499999999999999,
 0.21000000000000002,
 0.21080000000000002,
 0.21459999999999999,
 0.23780000000000001,
 0.2432,
 0.21480000000000002,
 0.22139999999999999,
 0.22339999999999999,
 0.19999999999999998,
 0.18539999999999995,
 0.16820000000000002,
 0.13220000000000001,
 0.13820000000000002,
 0.14699999999999999,
 0.16640000000000002,
 0.15259999999999999,
 0.1618,
 0.13579999999999998,
 0.14699999999999996,
 0.1406,
 0.1772,
 0.19220000000000001,
 0.22839999999999999,
 0.22480000000000003,
 0.2286,
 0.22000000000000003,
 0.2266,
 0.21600000000000003,
 0.17599999999999999,
 0.17379999999999998,
 0.1588,
 0.17120000000000002,
 0.18360000000000004,
 0.2104,
 0.20460000000000003,
 0.2306,
 0.2142,
 0.17279999999999998,
 0.17799999999999999,
 0.17679999999999998,
 0.15560000000000002,
 0.14600000000000002,
 0.24379999999999996,
 0.26959999999999995,
 0.29799999999999999,
 0.31120000000000003,
 0.32300000000000001,
 0.33740000000000003,
 0.33019999999999999,
 0.32439999999999997,
 0.29960000000000003,
 0.28600000000000003,
 0.27660000000000001,
 0.2848,
 0.27600000000000002,
 0.31019999999999998,
 0.32999999999999996,
 0.31280000000000002,
 0.28440000000000004,
 0.28060000000000002,
 0.28360000000000007,
 0.26420000000000005,
 0.29240000000000005,
 0.29020000000000001,
 0.29139999999999999,
 0.27559999999999996,
 0.27599999999999997,
 0.2404,
 0.26159999999999994,
 0.26840000000000003,
 0.27159999999999995,
 0.28039999999999998,
 0.307,
 0.31280000000000002,
 0.33039999999999997,
 0.32979999999999998,
 0.32400000000000001,
 0.33460000000000001,
 0.3266,
 0.31640000000000001,
 0.29520000000000002,
 0.2878,
 0.27859999999999996,
 0.29219999999999996,
 0.25480000000000003,
 0.26840000000000003,
 0.27460000000000007,
 0.27460000000000001,
 0.22960000000000003,
 0.255,
 0.24420000000000003,
 0.2346,
 0.19900000000000001,
 0.22220000000000001,
 0.20979999999999999,
 0.22160000000000002,
 0.23120000000000002,
 0.24460000000000001,
 0.23519999999999999,
 0.2656,
 0.25880000000000003,
 0.24500000000000002,
 0.24900000000000003,
 0.24000000000000005,
 0.23860000000000001,
 0.22199999999999998,
 0.22139999999999999,
 0.21820000000000001,
 0.23179999999999995,
 0.2152,
 0.23780000000000001,
 0.26639999999999997,
 0.26139999999999997,
 0.25620000000000004,
 0.24279999999999999,
 0.24900000000000003,
 0.23480000000000004,
 0.25900000000000001,
 0.2472,
 0.24900000000000003,
 0.23380000000000001,
 0.21659999999999999,
 0.20539999999999997,
 0.23180000000000001,
 0.20519999999999999,
 0.19980000000000001,
 0.22720000000000001,
 0.22500000000000001,
 0.26600000000000001,
 0.26139999999999997,
 0.24959999999999999,
 0.25680000000000003,
 0.25780000000000003,
 0.23600000000000004,
 0.24980000000000002,
 0.25439999999999996,
 0.23079999999999998,
 0.22519999999999998,
 0.22279999999999997,
 0.22519999999999998,
 0.21240000000000001,
 0.21679999999999996,
 0.20020000000000002,
 0.2238,
 0.21879999999999997,
 0.24860000000000002,
 0.25900000000000001,
 0.27579999999999999,
 0.23279999999999998,
 0.23520000000000002,
 0.2072,
 0.20880000000000001,
 0.20700000000000002,
 0.2432,
 0.23519999999999999,
 0.27060000000000001,
 0.27100000000000002,
 0.27100000000000002,
 0.27360000000000001,
 0.25040000000000007,
 0.25040000000000007,
 0.26139999999999997,
 0.26659999999999995,
 0.24740000000000001,
 0.25220000000000004,
 0.20280000000000001,
 0.19539999999999999,
 0.19219999999999998,
 0.19639999999999999,
 0.2132,
 0.22239999999999999,
 0.20800000000000002,
 0.22339999999999999,
 0.22900000000000001,
 0.24080000000000004,
 0.2366,
 0.2298,
 0.21100000000000002,
 0.19519999999999998,
 0.18679999999999999,
 0.19699999999999998,
 0.191,
 0.1716,
 0.17580000000000001,
 0.15660000000000002,
 0.15760000000000002,
 0.19159999999999999,
 0.20459999999999998,
 0.19580000000000003,
 0.191,
 0.17080000000000001,
 0.16299999999999998,
 0.1406,
 0.15240000000000001,
 0.16440000000000002,
 0.16499999999999998,
 0.17419999999999999,
 0.19380000000000003,
 0.18380000000000002,
 0.20380000000000004,
 0.24559999999999998,
 0.21760000000000002,
 0.24279999999999999,
 0.21820000000000001,
 0.21820000000000001,
 0.18880000000000002,
 0.20960000000000001,
 0.1988,
 0.2024,
 0.188,
 0.18660000000000002,
 0.17999999999999999,
 0.18140000000000001,
 0.19600000000000001,
 0.20039999999999999,
 0.2162,
 0.20500000000000002,
 0.20579999999999998,
 0.18479999999999999,
 0.1782,
 0.17499999999999999,
 0.19759999999999997,
 0.20960000000000001,
 0.22459999999999999,
 0.21680000000000002,
 0.23199999999999998,
 0.22119999999999998,
 0.21179999999999999,
 0.20019999999999999,
 0.18639999999999998,
 0.1802,
 0.17219999999999999,
 0.16539999999999999,
 0.16840000000000002,
 0.16219999999999998,
 0.156,
 0.18719999999999998,
 0.17219999999999999,
 0.19259999999999999,
 0.22560000000000002,
 0.22420000000000001,
 0.1784,
 0.19180000000000003,
 0.16839999999999999,
 0.14080000000000001,
 0.13479999999999998,
 0.15340000000000001,
 0.15160000000000001,
 0.15160000000000001,
 0.16339999999999999,
 0.19039999999999999,
 0.19220000000000001,
 0.19700000000000001,
 0.19739999999999999,
 0.19919999999999999,
 0.19540000000000002,
 0.17540000000000003,
 0.1532,
 0.13740000000000002,
 0.129,
 0.12639999999999998,
 0.1356,
 0.14099999999999999,
 0.16799999999999998,
 0.16900000000000001,
 0.16160000000000002,
 0.19060000000000002,
 0.21100000000000002,
 0.19819999999999999,
 0.19639999999999999,
 0.18200000000000002,
 0.17639999999999997,
 0.1628,
 0.16219999999999998,
 0.151,
 0.126,
 0.1288,
 0.12239999999999999,
 0.1532,
 0.16920000000000002,
 0.19639999999999999,
 0.17580000000000001,
 0.18000000000000002,
 0.1588,
 0.17099999999999999,
 0.15699999999999997,
 0.19579999999999997,
 0.20299999999999999,
 0.19620000000000001,
 0.2104,
 0.20280000000000001,
 0.23399999999999999,
 0.22739999999999999,
 0.26280000000000003,
 0.255,
 0.23780000000000001,
 0.252,
 0.28320000000000001,
 0.29359999999999997,
 0.31159999999999999,
 0.30979999999999996,
 0.2954,
 0.28719999999999996,
 0.2636,
 0.25359999999999999,
 0.25800000000000001,
 0.26200000000000001,
 0.28739999999999999,
 0.27640000000000003,
 0.26739999999999997,
 0.31440000000000001,
 0.3276,
 0.2918,
 0.34379999999999999,
 0.32839999999999997,
 0.29820000000000002,
 0.27379999999999993,
 0.28620000000000001,
 0.23599999999999999,
 0.25259999999999999,
 0.23899999999999996,
 0.25019999999999998,
 0.25440000000000002,
 0.24260000000000001,
 0.24260000000000001,
 0.24859999999999999,
 0.26420000000000005,
 0.24619999999999997,
 0.29339999999999999,
 0.29039999999999999,
 0.29580000000000001,
 0.28520000000000001,
 0.27100000000000002,
 0.29620000000000002,
 0.29440000000000005,
 0.31120000000000003,
 0.29900000000000004,
 0.33519999999999994,
 0.30580000000000002,
 0.31740000000000002,
 0.317,
 0.35120000000000001,
 0.3422,
 0.3498,
 0.35019999999999996,
 0.31920000000000004,
 0.28499999999999998,
 0.26539999999999997,
 0.2298,
 0.24740000000000001,
 0.25840000000000002,
 0.24939999999999998,
 0.25040000000000001,
 0.27160000000000001,
 0.24300000000000002,
 0.22279999999999997,
 0.23759999999999998,
 0.24420000000000003,
 0.22620000000000001,
 0.22999999999999998,
 0.253,
 0.22400000000000003,
 0.22759999999999997,
 0.23100000000000001,
 0.2122,
 0.23079999999999998,
 0.24840000000000004,
 0.25860000000000005,
 0.23200000000000004,
 0.24740000000000001,
 0.27900000000000003,
 0.25600000000000001,
 0.24020000000000002,
 0.23279999999999998,
 0.25059999999999999,
 0.23580000000000001,
 0.24419999999999997,
 0.23799999999999999,
 0.20600000000000002,
 0.20260000000000003,
 0.219,
 0.19400000000000001,
 0.193,
 0.19339999999999996,
 0.19819999999999999,
 0.19400000000000001,
 0.22500000000000001,
 0.23599999999999999,
 0.22879999999999998,
 0.22400000000000003,
 0.24199999999999999,
 0.25139999999999996,
 0.24579999999999996,
 0.255,
 0.2404,
 0.22380000000000005,
 0.20700000000000002,
 0.22139999999999999,
 0.22800000000000004,
 0.23999999999999999,
 0.22900000000000001,
 0.23520000000000002,
 0.20020000000000002,
 0.19619999999999999,
 0.2056,
 0.2238,
 0.2238,
 0.27279999999999999,
 0.28639999999999999,
 0.26779999999999998,
 0.246,
 0.24220000000000003,
 0.18340000000000001,
 0.16639999999999996,
 0.223,
 0.2394,
 0.22519999999999998,
 0.2732,
 0.28199999999999997,
 0.22319999999999998,
 0.24440000000000001,
 0.25159999999999999,
 0.26719999999999999,
 0.27759999999999996,
 0.27979999999999994,
 0.25439999999999996,
 0.27639999999999998,
 0.24060000000000001,
 0.21859999999999999,
 0.23020000000000002,
 0.23420000000000002,
 0.24180000000000001,
 0.25,
 0.2636,
 0.26860000000000001,
 0.26219999999999999,
 0.25060000000000004,
 0.25980000000000003,
 0.24539999999999998,
 0.24180000000000001,
 0.24300000000000002,
 0.23139999999999999,
 0.24340000000000001,
 0.253,
 0.26420000000000005,
 0.27960000000000002,
 0.28000000000000003,
 0.25880000000000003,
 0.2722,
 0.28079999999999999,
 0.29239999999999999,
 0.2742,
 0.24340000000000001,
 0.2404,
 0.24619999999999997,
 0.20999999999999996,
 0.2152,
 0.2198,
 0.22279999999999997,
 0.23119999999999999,
 0.23020000000000002,
 0.23780000000000001,
 0.2102,
 0.20420000000000002,
 0.19660000000000002,
 0.24060000000000006,
 0.24280000000000004,
 0.23400000000000004,
 0.22180000000000005,
 0.24840000000000001,
 0.20680000000000001,
 0.20280000000000001,
 0.2122,
 0.25739999999999996,
 0.248,
 0.25800000000000001,
 0.25320000000000004,
 0.23959999999999998,
 0.2092,
 0.21200000000000002,
 0.22480000000000003,
 0.22319999999999998,
 0.23799999999999999,
 0.22320000000000001,
 0.19539999999999999,
 0.19220000000000001,
 0.17460000000000001,
 0.1852,
 0.20140000000000002,
 0.20420000000000002,
 0.2132,
 0.2112,
 0.189,
 0.2064,
 0.23620000000000002,
 0.22020000000000001,
 0.26000000000000001,
 0.26179999999999998,
 0.23320000000000002,
 0.22300000000000003,
 0.21760000000000002,
 0.19319999999999998,
 0.22879999999999998,
 0.23219999999999996,
 0.20699999999999999,
 0.19739999999999999,
 0.20860000000000004,
 0.1578,
 0.15379999999999999,
 0.17699999999999999,
 0.1958,
 0.21659999999999999,
 0.2596,
 0.25739999999999996,
 0.25259999999999999,
 0.26099999999999995,
 0.24139999999999998,
 0.23399999999999999,
 0.27679999999999999,
 0.27900000000000003,
 0.25740000000000002,
 0.24879999999999999,
 0.24279999999999999,
 0.2016,
 0.21059999999999998,
 0.22079999999999997,
 0.2238,
 0.23079999999999998,
 0.2646,
 0.25680000000000003,
 0.25260000000000005,
 0.24160000000000004,
 0.25259999999999999,
 0.22939999999999997,
 0.2084,
 0.217,
 0.20820000000000002,
 0.2266,
 0.23620000000000002,
 0.2606,
 0.26379999999999998,
 0.26759999999999995,
 0.2646,
 0.28120000000000001,
 0.26980000000000004,
 0.26100000000000001,
 0.29759999999999998,
 0.29599999999999999,
 0.29220000000000002,
 0.2858,
 0.27780000000000005,
 0.24820000000000003,
 0.2666,
 0.25860000000000005,
 0.24380000000000002,
 0.24060000000000001,
 0.27440000000000003,
 0.27480000000000004,
 0.27680000000000005,
 0.27460000000000007,
 0.28320000000000001,
 0.2636,
 0.24159999999999998,
 0.26139999999999997,
 0.25980000000000003,
 0.2666,
 0.25380000000000003,
 0.27100000000000002,
 0.24559999999999998,
 0.24380000000000002,
 0.2238,
 0.21939999999999998,
 0.221,
 0.21539999999999998,
 0.19819999999999999,
 0.19680000000000003,
 0.20119999999999999,
 0.20600000000000002,
 0.20400000000000001,
 0.23099999999999996,
 0.25780000000000003,
 0.25159999999999999,
 0.21820000000000001,
 0.2044,
 0.18780000000000002,
 0.17899999999999999,
 0.19040000000000001,
 0.18720000000000001,
 0.19259999999999999,
 0.1976,
 0.189,
 0.21079999999999996,
 0.24659999999999999,
 0.26600000000000001,
 0.27539999999999998,
 0.28060000000000002,
 0.2954,
 0.28539999999999999,
 0.26540000000000002,
 0.25779999999999997,
 0.25819999999999999,
 0.24779999999999996,
 0.2586,
 0.26159999999999994,
 0.26479999999999998,
 0.246,
 0.23860000000000001,
 0.1908,
 0.19779999999999998,
 0.21059999999999998,
 0.2596,
 0.24299999999999997,
 0.27280000000000004,
 0.26860000000000001,
 0.23599999999999999,
 0.20019999999999999,
 0.26159999999999994,
 0.25019999999999998,
 0.23879999999999998,
 0.24260000000000001,
 0.217,
 0.22500000000000001,
 0.23680000000000004,
 0.23119999999999999,
 0.22820000000000001,
 0.19600000000000001,
 0.19600000000000001,
 0.17820000000000003,
 0.1542,
 0.17180000000000001,
 0.2152,
 0.21160000000000001,
 0.21399999999999997,
 0.2392,
 0.24199999999999999,
 0.20739999999999997,
 0.18479999999999999,
 0.19260000000000002,
 0.20099999999999998,
 0.1706,
 0.19159999999999999,
 0.19039999999999999,
 0.1762,
 0.14779999999999999,
 0.16899999999999998,
 0.16239999999999999,
 0.18099999999999999,
 0.19419999999999998,
 0.21080000000000002,
 0.18739999999999998,
 0.18639999999999998,
 0.184,
 0.18439999999999998,
 0.17219999999999999,
 0.21260000000000004,
 0.22359999999999997,
 0.2122,
 0.22160000000000002,
 0.22700000000000001,
 0.186,
 0.1668,
 0.17340000000000003,
 0.16140000000000004,
 0.16199999999999998,
 0.17019999999999999,
 0.18939999999999999,
 0.18759999999999999,
 0.20080000000000001,
 0.19720000000000001,
 0.21440000000000001,
 0.20660000000000003,
 0.20120000000000005,
 0.21200000000000002,
 0.2056,
 0.20380000000000004,
 0.21840000000000001,
 0.25539999999999996,
 0.25680000000000003,
 0.27179999999999999,
 0.254,
 0.23799999999999999,
 0.2162,
 0.2036,
 0.21180000000000004,
 0.20380000000000004,
 0.20119999999999999,
 0.20140000000000002,
 0.22420000000000001,
 0.22199999999999998,
 0.24820000000000003,
 0.27179999999999999,
 0.28060000000000002,
 0.25900000000000001,
 0.25540000000000002,
 0.25460000000000005,
 0.255,
 0.23700000000000002,
 0.26359999999999995,
 0.20019999999999999,
 0.22919999999999999,
 0.25880000000000003,
 0.24540000000000006,
 0.22280000000000003,
 0.217,
 0.19639999999999999,
 0.15379999999999999,
 0.1842,
 0.19900000000000001,
 0.20579999999999998,
 0.21939999999999998,
 0.24399999999999999,
 0.21839999999999998,
 0.23100000000000001,
 0.21159999999999995,
 ...]

In [131]:
for i in range(2460):
    df_allTeams.loc[i,'OREB%'] = list_avg_oreb[i]

df_allTeams.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,ATL,10/27/16,48,0.5448,0.2716,0.1554,0.2328,0.457,0.191,0.174,0.240,WAS,1,0,0,1
1,ATL,10/29/16,48,0.5472,0.2362,0.1648,0.2360,0.381,0.188,0.195,0.089,PHI,0,2,3,1
2,ATL,10/31/16,48,0.5328,0.2724,0.1660,0.2360,0.547,0.253,0.197,0.188,SAC,1,2,2,1
3,ATL,11/2/16,48,0.5270,0.3126,0.1718,0.2654,0.583,0.222,0.146,0.289,LAL,1,2,1,0
4,ATL,11/4/16,48,0.5238,0.3352,0.1692,0.2530,0.419,0.438,0.184,0.229,WAS,0,2,2,0

In [132]:
list_opp_efg=[]
list_opp_fta=[]
list_opp_tov=[]
list_opp_oreb=[]
for i in range(2460):
    for j in range(2460):
        if df_allTeams.loc[j,'TEAM']==df_allTeams.loc[i,'OPP'] and df_allTeams.loc[j,'GAME DATE']==df_allTeams.loc[i,'GAME DATE']:
            print(i,df_allTeams.loc[i,'OPP'],df_allTeams.loc[j,'TEAM'])
            list_opp_efg.append(df_allTeams.loc[j,'EFG%'])
            list_opp_fta.append(df_allTeams.loc[j,'FTA RATE'])
            list_opp_tov.append(df_allTeams.loc[j,'TOV%'])
            list_opp_oreb.append(df_allTeams.loc[j,'OREB%'])
            break

0 WAS WAS
1 PHI PHI
2 SAC SAC
3 LAL LAL
4 WAS WAS
5 HOU HOU
6 CLE CLE
7 CHI CHI
8 PHI PHI
9 MIA MIA
10 MIL MIL
11 CHA CHA
12 NYK NYK
13 NOP NOP
14 IND IND
15 UTA UTA
16 LAL LAL
17 GSW GSW
18 PHX PHX
19 DET DET
20 TOR TOR
21 OKC OKC
22 MIA MIA
23 MIL MIL
24 ORL ORL
25 TOR TOR
26 CHA CHA
27 OKC OKC
28 MIN MIN
29 DEN DEN
30 MIN MIN
31 NYK NYK
32 DET DET
33 SAS SAS
34 ORL ORL
35 NOP NOP
36 DAL DAL
37 BKN BKN
38 BOS BOS
39 MIL MIL
40 NYK NYK
41 DET DET
42 CHI CHI
43 PHI PHI
44 LAC LAC
45 CHI CHI
46 WAS WAS
47 NYK NYK
48 MIA MIA
49 HOU HOU
50 ORL ORL
51 UTA UTA
52 DEN DEN
53 SAC SAC
54 POR POR
55 LAC LAC
56 MIA MIA
57 ORL ORL
58 BOS BOS
59 DAL DAL
60 CLE CLE
61 IND IND
62 GSW GSW
63 BKN BKN
64 TOR TOR
65 MEM MEM
66 SAS SAS
67 MEM MEM
68 POR POR
69 CHA CHA
70 WAS WAS
71 MIL MIL
72 BKN BKN
73 PHX PHX
74 PHI PHI
75 CHI CHI
76 BKN BKN
77 BOS BOS
78 CLE CLE
79 CLE CLE
80 CHA CHA
81 IND IND
82 BOS BOS
83 IND IND
84 MIL MIL
85 CHI CHI
86 DET DET
87 CHA CHA
88 MIN MIN
89 NYK NYK
90 PHX PHX
91 LAC LAC
92 LAL LAL
93 OKC OKC
94 POR POR
95 BOS BOS
96 IND IND
97 SAC SAC
98 LAC LAC
99 MIL MIL
100 MIL MIL
101 WAS WAS
102 DEN DEN
103 SAS SAS
104 HOU HOU
105 LAL LAL
106 ORL ORL
107 PHI PHI
108 TOR TOR
109 GSW GSW
110 CLE CLE
111 CHA CHA
112 CHI CHI
113 WAS WAS
114 UTA UTA
115 IND IND
116 CLE CLE
117 PHI PHI
118 ATL ATL
119 NOP NOP
120 TOR TOR
121 HOU HOU
122 TOR TOR
123 NOP NOP
124 CHA CHA
125 SAS SAS
126 MIA MIA
127 CLE CLE
128 MIN MIN
129 MIA MIA
130 NYK NYK
131 IND IND
132 TOR TOR
133 CHA CHA
134 WAS WAS
135 MIA MIA
136 MEM MEM
137 MIL MIL
138 DEN DEN
139 GSW GSW
140 SAC SAC
141 UTA UTA
142 POR POR
143 MEM MEM
144 ATL ATL
145 DAL DAL
146 NYK NYK
147 OKC OKC
148 NYK NYK
149 BOS BOS
150 DAL DAL
151 DET DET
152 PHX PHX
153 WAS WAS
154 ATL ATL
155 PHI PHI
156 DET DET
157 ORL ORL
158 ATL ATL
159 PHI PHI
160 ORL ORL
161 CHI CHI
162 BOS BOS
163 CHI CHI
164 BKN BKN
165 CHI CHI
166 CHA CHA
167 CHI CHI
168 CLE CLE
169 DEN DEN
170 WAS WAS
171 NYK NYK
172 IND IND
173 NOP NOP
174 DAL DAL
175 GSW GSW
176 DET DET
177 MIN MIN
178 BKN BKN
179 SAS SAS
180 MIA MIA
181 DET DET
182 SAC SAC
183 PHI PHI
184 HOU HOU
185 ORL ORL
186 TOR TOR
187 OKC OKC
188 SAS SAS
189 CHA CHA
190 MIA MIA
191 MEM MEM
192 IND IND
193 OKC OKC
194 NYK NYK
195 MEM MEM
196 CLE CLE
197 MIA MIA
198 UTA UTA
199 PHI PHI
200 NOP NOP
201 TOR TOR
202 WAS WAS
203 ATL ATL
204 CHA CHA
205 NYK NYK
206 POR POR
207 WAS WAS
208 HOU HOU
209 ORL ORL
210 MIL MIL
211 DET DET
212 TOR TOR
213 LAL LAL
214 LAC LAC
215 SAC SAC
216 POR POR
217 UTA UTA
218 DAL DAL
219 PHI PHI
220 CHI CHI
221 TOR TOR
222 DET DET
223 ATL ATL
224 CLE CLE
225 LAL LAL
226 PHX PHX
227 LAC LAC
228 GSW GSW
229 DEN DEN
230 CHI CHI
231 MIN MIN
232 BKN BKN
233 PHI PHI
234 WAS WAS
235 IND IND
236 PHX PHX
237 MIA MIA
238 MIL MIL
239 ORL ORL
240 NYK NYK
241 CLE CLE
242 ATL ATL
243 CHA CHA
244 BKN BKN
245 MIL MIL
246 MIL MIL
247 MIA MIA
248 BOS BOS
249 PHI PHI
250 BKN BKN
251 IND IND
252 UTA UTA
253 TOR TOR
254 CLE CLE
255 MIN MIN
256 ATL ATL
257 NOP NOP
258 MEM MEM
259 SAS SAS
260 NYK NYK
261 NYK NYK
262 MEM MEM
263 DET DET
264 DAL DAL
265 MIN MIN
266 DAL DAL
267 DET DET
268 ORL ORL
269 CLE CLE
270 IND IND
271 WAS WAS
272 BOS BOS
273 ATL ATL
274 LAL LAL
275 CHI CHI
276 BKN BKN
277 ORL ORL
278 MIA MIA
279 CLE CLE
280 CHI CHI
281 OKC OKC
282 DET DET
283 SAS SAS
284 HOU HOU
285 PHI PHI
286 BOS BOS
287 POR POR
288 TOR TOR
289 BKN BKN
290 WAS WAS
291 GSW GSW
292 NYK NYK
293 SAC SAC
294 POR POR
295 GSW GSW
296 UTA UTA
297 BKN BKN
298 HOU HOU
299 LAC LAC
300 PHI PHI
301 TOR TOR
302 DET DET
303 SAC SAC
304 LAC LAC
305 LAL LAL
306 PHX PHX
307 DEN DEN
308 IND IND
309 MIA MIA
310 ORL ORL
311 NOP NOP
312 CHI CHI
313 IND IND
314 WAS WAS
315 ATL ATL
316 ORL ORL
317 CLE CLE
318 PHX PHX
319 MIL MIL
320 TOR TOR
321 DEN DEN
322 OKC OKC
323 WAS WAS
324 MIA MIA
325 BOS BOS
326 MIL MIL
327 ATL ATL
328 BOS BOS
329 IND IND
330 BKN BKN
331 BOS BOS
332 NYK NYK
333 IND IND
334 ORL ORL
335 ATL ATL
336 MIA MIA
337 WAS WAS
338 POR POR
339 UTA UTA
340 LAC LAC
341 LAL LAL
342 DEN DEN
343 PHI PHI
344 LAL LAL
345 CLE CLE
346 DAL DAL
347 POR POR
348 DET DET
349 SAS SAS
350 MIA MIA
351 MIN MIN
352 MIL MIL
353 MIL MIL
354 DET DET
355 WAS WAS
356 CHA CHA
357 SAS SAS
358 IND IND
359 BKN BKN
360 IND IND
361 MIL MIL
362 CHA CHA
363 CLE CLE
364 TOR TOR
365 OKC OKC
366 WAS WAS
367 NYK NYK
368 NOP NOP
369 MEM MEM
370 DAL DAL
371 ATL ATL
372 SAC SAC
373 ORL ORL
374 ATL ATL
375 MIA MIA
376 PHI PHI
377 OKC OKC
378 HOU HOU
379 SAC SAC
380 GSW GSW
381 PHX PHX
382 MIN MIN
383 TOR TOR
384 BOS BOS
385 PHX PHX
386 CLE CLE
387 DEN DEN
388 GSW GSW
389 LAC LAC
390 DET DET
391 ORL ORL
392 HOU HOU
393 BOS BOS
394 CHA CHA
395 MEM MEM
396 WAS WAS
397 UTA UTA
398 TOR TOR
399 DET DET
400 PHI PHI
401 MIL MIL
402 CLE CLE
403 ATL ATL
404 NOP NOP
405 NYK NYK
406 PHI PHI
407 BKN BKN
408 ORL ORL
409 BKN BKN
410 NYK NYK
411 TOR TOR
412 ORL ORL
413 HOU HOU
414 BOS BOS
415 PHI PHI
416 ATL ATL
417 WAS WAS
418 CHA CHA
419 TOR TOR
420 IND IND
421 DET DET
422 POR POR
423 DAL DAL
424 PHI PHI
425 MIL MIL
426 LAC LAC
427 CHI CHI
428 TOR TOR
429 NYK NYK
430 MIA MIA
431 CHA CHA
432 MEM MEM
433 MEM MEM
434 LAL LAL
435 MIL MIL
436 MIL MIL
437 BKN BKN
438 GSW GSW
439 DET DET
440 BOS BOS
441 CHA CHA
442 NOP NOP
443 CHI CHI
444 BKN BKN
445 PHX PHX
446 UTA UTA
447 POR POR
448 SAC SAC
449 GSW GSW
450 PHX PHX
451 SAS SAS
452 NOP NOP
453 SAC SAC
454 BKN BKN
455 OKC OKC
456 DAL DAL
457 MIN MIN
458 NYK NYK
459 WAS WAS
460 IND IND
461 OKC OKC
462 DEN DEN
463 MIN MIN
464 IND IND
465 NYK NYK
466 CHI CHI
467 MIL MIL
468 BOS BOS
469 ATL ATL
470 MIA MIA
471 MIA MIA
472 DET DET
473 ORL ORL
474 HOU HOU
475 DET DET
476 UTA UTA
477 LAC LAC
478 LAL LAL
479 DEN DEN
480 CHA CHA
481 WAS WAS
482 SAS SAS
483 CHI CHI
484 PHI PHI
485 IND IND
486 ORL ORL
487 BOS BOS
488 ATL ATL
489 ATL ATL
490 MIA MIA
491 TOR TOR
492 IND IND
493 HOU HOU
494 HOU HOU
495 UTA UTA
496 POR POR
497 MIL MIL
498 LAL LAL
499 GSW GSW
500 NYK NYK
501 BOS BOS
502 MEM MEM
503 ORL ORL
504 SAS SAS
505 LAC LAC
506 CLE CLE
507 NOP NOP
508 SAS SAS
509 CHA CHA
510 CHI CHI
511 CHA CHA
512 SAC SAC
513 IND IND
514 HOU HOU
515 DEN DEN
516 DET DET
517 UTA UTA
518 SAC SAC
519 DEN DEN
520 POR POR
521 LAC LAC
522 NOP NOP
523 HOU HOU
524 LAL LAL
525 GSW GSW
526 WAS WAS
527 PHX PHX
528 ATL ATL
529 MIN MIN
530 PHX PHX
531 MIN MIN
532 CHI CHI
533 MIA MIA
534 UTA UTA
535 LAL LAL
536 NYK NYK
537 OKC OKC
538 SAS SAS
539 CLE CLE
540 PHI PHI
541 POR POR
542 DEN DEN
543 POR POR
544 UTA UTA
545 ORL ORL
546 BOS BOS
547 DET DET
548 MIN MIN
549 NOP NOP
550 MIA MIA
551 ATL ATL
552 MEM MEM
553 OKC OKC
554 LAL LAL
555 BKN BKN
556 PHX PHX
557 TOR TOR
558 WAS WAS
559 PHI PHI
560 BKN BKN
561 GSW GSW
562 LAC LAC
563 TOR TOR
564 OKC OKC
565 NOP NOP
566 MEM MEM
567 MIL MIL
568 SAC SAC
569 LAC LAC
570 SAS SAS
571 PHX PHX
572 DEN DEN
573 MEM MEM
574 NOP NOP
575 POR POR
576 TOR TOR
577 MIN MIN
578 DET DET
579 BOS BOS
580 MEM MEM
581 GSW GSW
582 DET DET
583 POR POR
584 PHX PHX
585 TOR TOR
586 UTA UTA
587 CHI CHI
588 UTA UTA
589 OKC OKC
590 PHX PHX
591 MIA MIA
592 HOU HOU
593 UTA UTA
594 PHI PHI
595 BKN BKN
596 WAS WAS
597 ORL ORL
598 DAL DAL
599 POR POR
600 NYK NYK
601 DAL DAL
602 LAC LAC
603 ATL ATL
604 LAC LAC
605 MIN MIN
606 PHI PHI
607 GSW GSW
608 SAC SAC
609 SAS SAS
610 OKC OKC
611 IND IND
612 ORL ORL
613 LAL LAL
614 SAS SAS
615 LAC LAC
616 MIN MIN
617 UTA UTA
618 PHX PHX
619 PHX PHX
620 LAL LAL
621 MEM MEM
622 MIL MIL
623 SAS SAS
624 DAL DAL
625 ATL ATL
626 NYK NYK
627 CLE CLE
628 GSW GSW
629 MIN MIN
630 SAC SAC
631 BKN BKN
632 MEM MEM
633 CHI CHI
634 MIL MIL
635 CHA CHA
636 SAC SAC
637 WAS WAS
638 BOS BOS
639 SAC SAC
640 LAL LAL
641 LAC LAC
642 HOU HOU
643 HOU HOU
644 CLE CLE
645 IND IND
646 NOP NOP
647 POR POR
648 CHA CHA
649 MIA MIA
650 NOP NOP
651 HOU HOU
652 NOP NOP
653 OKC OKC
654 DAL DAL
655 OKC OKC
656 TOR TOR
657 ORL ORL
658 MIL MIL
659 NYK NYK
660 BKN BKN
661 DEN DEN
662 LAC LAC
663 PHX PHX
664 SAS SAS
665 DEN DEN
666 OKC OKC
667 NYK NYK
668 CLE CLE
669 BOS BOS
670 HOU HOU
671 MIA MIA
672 LAC LAC
673 OKC OKC
674 CHA CHA
675 BOS BOS
676 ATL ATL
677 ORL ORL
678 CHI CHI
679 CHA CHA
680 MIN MIN
681 PHI PHI
682 DAL DAL
683 WAS WAS
684 IND IND
685 CHI CHI
686 MEM MEM
687 GSW GSW
688 CLE CLE
689 MIL MIL
690 ATL ATL
691 MIA MIA
692 IND IND
693 CHA CHA

694 POR POR
695 SAC SAC
696 GSW GSW
697 UTA UTA
698 LAL LAL
699 ATL ATL
700 WAS WAS
701 SAC SAC
702 MIA MIA
703 BOS BOS
704 NOP NOP
705 MIN MIN
706 IND IND
707 PHI PHI
708 LAL LAL
709 SAS SAS
710 TOR TOR
711 MIL MIL
712 DAL DAL
713 CHA CHA
714 BOS BOS
715 POR POR
716 NOP NOP
717 PHI PHI
718 CHI CHI
719 IND IND
720 CLE CLE
721 NYK NYK
722 CLE CLE
723 UTA UTA
724 TOR TOR
725 PHX PHX
726 BKN BKN
727 CHI CHI
728 ORL ORL
729 NYK NYK
730 MIA MIA
731 BKN BKN
732 MIL MIL
733 TOR TOR
734 HOU HOU
735 MEM MEM
736 WAS WAS
737 ORL ORL
738 SAS SAS
739 NOP NOP
740 PHX PHX
741 POR POR
742 OKC OKC
743 LAL LAL
744 NOP NOP
745 DAL DAL
746 DEN DEN
747 PHX PHX
748 TOR TOR
749 BOS BOS
750 MIL MIL
751 IND IND
752 LAL LAL
753 LAL LAL
754 MIN MIN
755 ATL ATL
756 HOU HOU
757 PHX PHX
758 IND IND
759 LAC LAC
760 UTA UTA
761 MEM MEM
762 MIN MIN
763 NOP NOP
764 NYK NYK
765 POR POR
766 UTA UTA
767 BKN BKN
768 DET DET
769 CLE CLE
770 TOR TOR
771 DAL DAL
772 DEN DEN
773 POR POR
774 MEM MEM
775 SAC SAC
776 MIA MIA
777 DET DET
778 CLE CLE
779 OKC OKC
780 HOU HOU
781 ORL ORL
782 MIA MIA
783 CHA CHA
784 LAC LAC
785 POR POR
786 CHA CHA
787 LAC LAC
788 SAC SAC
789 CHI CHI
790 MEM MEM
791 OKC OKC
792 DEN DEN
793 SAC SAC
794 LAC LAC
795 BKN BKN
796 PHI PHI
797 WAS WAS
798 CHI CHI
799 NYK NYK
800 ATL ATL
801 BOS BOS
802 MIN MIN
803 SAS SAS
804 PHI PHI
805 ORL ORL
806 MIL MIL
807 OKC OKC
808 DAL DAL
809 SAC SAC
810 MEM MEM
811 HOU HOU
812 SAS SAS
813 HOU HOU
814 WAS WAS
815 MIN MIN
816 PHX PHX
817 NOP NOP
818 UTA UTA
819 LAL LAL
820 LAL LAL
821 DAL DAL
822 DAL DAL
823 CLE CLE
824 NYK NYK
825 ATL ATL
826 WAS WAS
827 SAS SAS
828 SAS SAS
829 PHI PHI
830 OKC OKC
831 POR POR
832 UTA UTA
833 DET DET
834 TOR TOR
835 SAC SAC
836 POR POR
837 UTA UTA
838 GSW GSW
839 DEN DEN
840 BOS BOS
841 LAL LAL
842 OKC OKC
843 DAL DAL
844 BKN BKN
845 SAC SAC
846 NOP NOP
847 MIN MIN
848 SAS SAS
849 PHX PHX
850 MEM MEM
851 PHX PHX
852 DAL DAL
853 LAC LAC
854 NYK NYK
855 WAS WAS
856 OKC OKC
857 ORL ORL
858 TOR TOR
859 CHA CHA
860 MIN MIN
861 MEM MEM
862 BKN BKN
863 MIA MIA
864 MIL MIL
865 GSW GSW
866 MEM MEM
867 MIL MIL
868 BOS BOS
869 PHI PHI
870 IND IND
871 SAC SAC
872 ATL ATL
873 CHI CHI
874 ORL ORL
875 CHA CHA
876 PHX PHX
877 MIA MIA
878 NOP NOP
879 MIN MIN
880 IND IND
881 LAC LAC
882 MEM MEM
883 SAS SAS
884 UTA UTA
885 CHI CHI
886 CLE CLE
887 LAL LAL
888 NOP NOP
889 DEN DEN
890 DEN DEN
891 NOP NOP
892 OKC OKC
893 GSW GSW
894 POR POR
895 GSW GSW
896 PHX PHX
897 DEN DEN
898 DET DET
899 SAC SAC
900 LAC LAC
901 MIN MIN
902 DAL DAL
903 BKN BKN
904 CHI CHI
905 LAL LAL
906 MIL MIL
907 CHI CHI
908 CHA CHA
909 PHI PHI
910 PHI PHI
911 BOS BOS
912 ORL ORL
913 CLE CLE
914 PHX PHX
915 OKC OKC
916 GSW GSW
917 ATL ATL
918 BKN BKN
919 LAC LAC
920 POR POR
921 LAC LAC
922 GSW GSW
923 PHX PHX
924 DAL DAL
925 POR POR
926 CHA CHA
927 MIA MIA
928 NOP NOP
929 DET DET
930 WAS WAS
931 NYK NYK
932 BOS BOS
933 CHI CHI
934 WAS WAS
935 CHI CHI
936 ORL ORL
937 DET DET
938 BKN BKN
939 NYK NYK
940 DEN DEN
941 NOP NOP
942 SAC SAC
943 LAL LAL
944 UTA UTA
945 NYK NYK
946 MIN MIN
947 SAC SAC
948 HOU HOU
949 ORL ORL
950 BKN BKN
951 DET DET
952 OKC OKC
953 CLE CLE
954 WAS WAS
955 MIL MIL
956 SAS SAS
957 CLE CLE
958 WAS WAS
959 MEM MEM
960 MIA MIA
961 HOU HOU
962 SAS SAS
963 ATL ATL
964 CHA CHA
965 DET DET
966 MIL MIL
967 MIA MIA
968 NYK NYK
969 CHA CHA
970 TOR TOR
971 UTA UTA
972 BOS BOS
973 DEN DEN
974 PHI PHI
975 MIN MIN
976 MEM MEM
977 TOR TOR
978 CLE CLE
979 TOR TOR
980 MIL MIL
981 ORL ORL
982 PHI PHI
983 ATL ATL
984 POR POR
985 UTA UTA
986 PHX PHX
987 OKC OKC
988 MEM MEM
989 SAS SAS
990 DET DET
991 POR POR
992 OKC OKC
993 MIN MIN
994 BKN BKN
995 MEM MEM
996 SAC SAC
997 CHI CHI
998 TOR TOR
999 DAL DAL
1000 DET DET
1001 IND IND
1002 BKN BKN
1003 CLE CLE
1004 NOP NOP
1005 IND IND
1006 GSW GSW
1007 NOP NOP
1008 POR POR
1009 ORL ORL
1010 MIA MIA
1011 WAS WAS
1012 DEN DEN
1013 SAS SAS
1014 DAL DAL
1015 LAL LAL
1016 DEN DEN
1017 NOP NOP
1018 HOU HOU
1019 OKC OKC
1020 PHX PHX
1021 MEM MEM
1022 SAC SAC
1023 MIA MIA
1024 ORL ORL
1025 LAL LAL
1026 OKC OKC
1027 MIN MIN
1028 DEN DEN
1029 ATL ATL
1030 PHI PHI
1031 GSW GSW
1032 PHX PHX
1033 GSW GSW
1034 BOS BOS
1035 TOR TOR
1036 NYK NYK
1037 CHA CHA
1038 UTA UTA
1039 ATL ATL
1040 GSW GSW
1041 SAS SAS
1042 CHA CHA
1043 HOU HOU
1044 MIL MIL
1045 CHI CHI
1046 BOS BOS
1047 MIN MIN
1048 MEM MEM
1049 PHI PHI
1050 UTA UTA
1051 MIL MIL
1052 DEN DEN
1053 CLE CLE
1054 NYK NYK
1055 LAL LAL
1056 DAL DAL
1057 UTA UTA
1058 SAC SAC
1059 WAS WAS
1060 PHX PHX
1061 LAL LAL
1062 DAL DAL
1063 SAS SAS
1064 HOU HOU
1065 SAC SAC
1066 HOU HOU
1067 UTA UTA
1068 OKC OKC
1069 IND IND
1070 ATL ATL
1071 GSW GSW
1072 PHX PHX
1073 DAL DAL
1074 SAC SAC
1075 NOP NOP
1076 MIN MIN
1077 BKN BKN
1078 SAS SAS
1079 CHI CHI
1080 OKC OKC
1081 GSW GSW
1082 GSW GSW
1083 ATL ATL
1084 NOP NOP
1085 CHI CHI
1086 TOR TOR
1087 MEM MEM
1088 UTA UTA
1089 HOU HOU
1090 PHX PHX
1091 NYK NYK
1092 SAC SAC
1093 BKN BKN
1094 PHI PHI
1095 CLE CLE
1096 CHA CHA
1097 MIA MIA
1098 ORL ORL
1099 LAC LAC
1100 UTA UTA
1101 DAL DAL
1102 TOR TOR
1103 MEM MEM
1104 POR POR
1105 MIA MIA
1106 ORL ORL
1107 POR POR
1108 SAS SAS
1109 LAC LAC
1110 DET DET
1111 DEN DEN
1112 IND IND
1113 DAL DAL
1114 POR POR
1115 UTA UTA
1116 DEN DEN
1117 WAS WAS
1118 BOS BOS
1119 NYK NYK
1120 DET DET
1121 MIL MIL
1122 SAC SAC
1123 PHX PHX
1124 OKC OKC
1125 SAS SAS
1126 CHA CHA
1127 BOS BOS
1128 NOP NOP
1129 DAL DAL
1130 PHX PHX
1131 PHI PHI
1132 DEN DEN
1133 HOU HOU
1134 MIL MIL
1135 CLE CLE
1136 LAC LAC
1137 MIN MIN
1138 POR POR
1139 WAS WAS
1140 MIN MIN
1141 LAC LAC
1142 MEM MEM
1143 SAS SAS
1144 SAC SAC
1145 MIN MIN
1146 NOP NOP
1147 GSW GSW
1148 MIN MIN
1149 NYK NYK
1150 WAS WAS
1151 MIN MIN
1152 NOP NOP
1153 LAC LAC
1154 POR POR
1155 DEN DEN
1156 MIL MIL
1157 UTA UTA
1158 LAC LAC
1159 DAL DAL
1160 MIN MIN
1161 CHA CHA
1162 PHI PHI
1163 MIA MIA
1164 MIA MIA
1165 CHA CHA
1166 TOR TOR
1167 ORL ORL
1168 LAL LAL
1169 NOP NOP
1170 PHI PHI
1171 POR POR
1172 GSW GSW
1173 CLE CLE
1174 CLE CLE
1175 SAC SAC
1176 UTA UTA
1177 BOS BOS
1178 DET DET
1179 HOU HOU
1180 ORL ORL
1181 BOS BOS
1182 OKC OKC
1183 SAC SAC
1184 LAL LAL
1185 LAC LAC
1186 GSW GSW
1187 UTA UTA
1188 OKC OKC
1189 HOU HOU
1190 CHI CHI
1191 WAS WAS
1192 SAC SAC
1193 HOU HOU
1194 TOR TOR
1195 POR POR
1196 UTA UTA
1197 PHX PHX
1198 DEN DEN
1199 OKC OKC
1200 MIN MIN
1201 SAS SAS
1202 PHX PHX
1203 GSW GSW
1204 BKN BKN
1205 NOP NOP
1206 IND IND
1207 DEN DEN
1208 PHX PHX
1209 DAL DAL
1210 HOU HOU
1211 BKN BKN
1212 LAC LAC
1213 ATL ATL
1214 MIL MIL
1215 CHI CHI
1216 ATL ATL
1217 SAS SAS
1218 NOP NOP
1219 SAS SAS
1220 GSW GSW
1221 SAC SAC
1222 IND IND
1223 DAL DAL
1224 LAL LAL
1225 SAS SAS
1226 OKC OKC
1227 NYK NYK
1228 DET DET
1229 DAL DAL
1230 ORL ORL
1231 CHA CHA
1232 SAS SAS
1233 SAC SAC
1234 TOR TOR
1235 OKC OKC
1236 CHI CHI
1237 UTA UTA
1238 SAS SAS
1239 ATL ATL
1240 MIL MIL
1241 WAS WAS
1242 PHI PHI
1243 DET DET
1244 MEM MEM
1245 MEM MEM
1246 BOS BOS
1247 DEN DEN
1248 UTA UTA
1249 POR POR
1250 NYK NYK
1251 ATL ATL
1252 CLE CLE
1253 CHI CHI
1254 WAS WAS
1255 IND IND
1256 LAC LAC
1257 BOS BOS
1258 ORL ORL
1259 LAL LAL
1260 NOP NOP
1261 OKC OKC
1262 CHA CHA
1263 BOS BOS
1264 DET DET
1265 PHX PHX
1266 SAC SAC
1267 LAL LAL
1268 LAC LAC
1269 GSW GSW
1270 MIL MIL
1271 HOU HOU
1272 DAL DAL
1273 MIL MIL
1274 GSW GSW
1275 BKN BKN
1276 CHI CHI
1277 DET DET
1278 BKN BKN
1279 ATL ATL
1280 PHI PHI
1281 MIN MIN
1282 MIL MIL
1283 BKN BKN
1284 PHI PHI
1285 ORL ORL
1286 HOU HOU
1287 ATL ATL
1288 IND IND
1289 DAL DAL
1290 PHI PHI
1291 ORL ORL
1292 CLE CLE
1293 CLE CLE
1294 CHA CHA
1295 TOR TOR
1296 IND IND
1297 NOP NOP
1298 MIN MIN
1299 POR POR
1300 PHX PHX
1301 TOR TOR
1302 BOS BOS
1303 DET DET
1304 NYK NYK
1305 NYK NYK
1306 DEN DEN
1307 CHA CHA
1308 TOR TOR
1309 WAS WAS
1310 CLE CLE
1311 WAS WAS
1312 CHA CHA
1313 BKN BKN
1314 DET DET
1315 NOP NOP
1316 IND IND
1317 SAC SAC
1318 DAL DAL
1319 NOP NOP
1320 MEM MEM
1321 ATL ATL
1322 MIA MIA
1323 GSW GSW
1324 ORL ORL
1325 TOR TOR
1326 ORL ORL
1327 CLE CLE
1328 BKN BKN
1329 BKN BKN
1330 SAS SAS
1331 POR POR
1332 ATL ATL
1333 WAS WAS
1334 TOR TOR
1335 CHI CHI
1336 CHI CHI
1337 CLE CLE
1338 CLE CLE
1339 WAS WAS
1340 WAS WAS
1341 DET DET
1342 MIN MIN
1343 CHI CHI
1344 OKC OKC
1345 NYK NYK
1346 NYK NYK
1347 WAS WAS
1348 SAS SAS
1349 MIA MIA
1350 ATL ATL
1351 PHI PHI

1352 HOU HOU
1353 ORL ORL
1354 MIA MIA
1355 HOU HOU
1356 PHI PHI
1357 TOR TOR
1358 BOS BOS
1359 UTA UTA
1360 DEN DEN
1361 PHX PHX
1362 MIA MIA
1363 LAL LAL
1364 IND IND
1365 DET DET
1366 BKN BKN
1367 UTA UTA
1368 PHX PHX
1369 CLE CLE
1370 DEN DEN
1371 LAC LAC
1372 TOR TOR
1373 PHI PHI
1374 NYK NYK
1375 IND IND
1376 MIN MIN
1377 MEM MEM
1378 LAC LAC
1379 LAL LAL
1380 GSW GSW
1381 POR POR
1382 SAC SAC
1383 ATL ATL
1384 CHI CHI
1385 CHA CHA
1386 BOS BOS
1387 DET DET
1388 DAL DAL
1389 OKC OKC
1390 IND IND
1391 PHI PHI
1392 CHA CHA
1393 BOS BOS
1394 MEM MEM
1395 SAC SAC
1396 MEM MEM
1397 DEN DEN
1398 OKC OKC
1399 BKN BKN
1400 ORL ORL
1401 LAC LAC
1402 LAL LAL
1403 CHA CHA
1404 PHI PHI
1405 MEM MEM
1406 BOS BOS
1407 NOP NOP
1408 PHX PHX
1409 GSW GSW
1410 UTA UTA
1411 NYK NYK
1412 NYK NYK
1413 CHA CHA
1414 SAS SAS
1415 TOR TOR
1416 DET DET
1417 GSW GSW
1418 CHI CHI
1419 HOU HOU
1420 PHX PHX
1421 ATL ATL
1422 SAC SAC
1423 OKC OKC
1424 ATL ATL
1425 DEN DEN
1426 MIL MIL
1427 POR POR
1428 PHI PHI
1429 WAS WAS
1430 UTA UTA
1431 DAL DAL
1432 HOU HOU
1433 OKC OKC
1434 DAL DAL
1435 SAS SAS
1436 LAC LAC
1437 DEN DEN
1438 PHX PHX
1439 IND IND
1440 BKN BKN
1441 ORL ORL
1442 CLE CLE
1443 DET DET
1444 MEM MEM
1445 MIA MIA
1446 TOR TOR
1447 NOP NOP
1448 CHI CHI
1449 CLE CLE
1450 DEN DEN
1451 DAL DAL
1452 HOU HOU
1453 SAC SAC
1454 UTA UTA
1455 SAS SAS
1456 LAC LAC
1457 GSW GSW
1458 MIL MIL
1459 WAS WAS
1460 BOS BOS
1461 MIA MIA
1462 NOP NOP
1463 SAS SAS
1464 LAL LAL
1465 POR POR
1466 IND IND
1467 LAL LAL
1468 SAC SAC
1469 POR POR
1470 GSW GSW
1471 POR POR
1472 UTA UTA
1473 LAL LAL
1474 OKC OKC
1475 HOU HOU
1476 DEN DEN
1477 GSW GSW
1478 SAS SAS
1479 MIL MIL
1480 MEM MEM
1481 PHX PHX
1482 GSW GSW
1483 SAC SAC
1484 MIL MIL
1485 LAL LAL
1486 BOS BOS
1487 ORL ORL
1488 POR POR
1489 CHA CHA
1490 ATL ATL
1491 MIN MIN
1492 POR POR
1493 DAL DAL
1494 LAL LAL
1495 LAC LAC
1496 OKC OKC
1497 MEM MEM
1498 PHI PHI
1499 LAC LAC
1500 PHX PHX
1501 GSW GSW
1502 IND IND
1503 HOU HOU
1504 SAS SAS
1505 PHI PHI
1506 OKC OKC
1507 MIA MIA
1508 DAL DAL
1509 LAC LAC
1510 NYK NYK
1511 CLE CLE
1512 ATL ATL
1513 BOS BOS
1514 NYK NYK
1515 BKN BKN
1516 CHI CHI
1517 IND IND
1518 ORL ORL
1519 BKN BKN
1520 CLE CLE
1521 OKC OKC
1522 SAS SAS
1523 WAS WAS
1524 TOR TOR
1525 DET DET
1526 WAS WAS
1527 PHX PHX
1528 UTA UTA
1529 MIN MIN
1530 SAC SAC
1531 PHX PHX
1532 MEM MEM
1533 HOU HOU
1534 DAL DAL
1535 OKC OKC
1536 DET DET
1537 SAS SAS
1538 LAL LAL
1539 UTA UTA
1540 TOR TOR
1541 CHA CHA
1542 POR POR
1543 MIA MIA
1544 HOU HOU
1545 MIN MIN
1546 MEM MEM
1547 HOU HOU
1548 DEN DEN
1549 UTA UTA
1550 DAL DAL
1551 SAC SAC
1552 CHI CHI
1553 DEN DEN
1554 DEN DEN
1555 GSW GSW
1556 LAL LAL
1557 POR POR
1558 CLE CLE
1559 MEM MEM
1560 DET DET
1561 HOU HOU
1562 CHI CHI
1563 UTA UTA
1564 BKN BKN
1565 BOS BOS
1566 TOR TOR
1567 DAL DAL
1568 DET DET
1569 WAS WAS
1570 ATL ATL
1571 POR POR
1572 CHA CHA
1573 CHA CHA
1574 OKC OKC
1575 MIN MIN
1576 MIN MIN
1577 SAC SAC
1578 MIA MIA
1579 CLE CLE
1580 SAC SAC
1581 LAL LAL
1582 PHX PHX
1583 GSW GSW
1584 DEN DEN
1585 IND IND
1586 ORL ORL
1587 BOS BOS
1588 ATL ATL
1589 NOP NOP
1590 HOU HOU
1591 ORL ORL
1592 MIL MIL
1593 MIL MIL
1594 IND IND
1595 NOP NOP
1596 PHI PHI
1597 CHI CHI
1598 TOR TOR
1599 ATL ATL
1600 BOS BOS
1601 WAS WAS
1602 PHX PHX
1603 IND IND
1604 DAL DAL
1605 CHA CHA
1606 ATL ATL
1607 WAS WAS
1608 BKN BKN
1609 CLE CLE
1610 LAL LAL
1611 LAC LAC
1612 DEN DEN
1613 SAS SAS
1614 OKC OKC
1615 CLE CLE
1616 PHI PHI
1617 TOR TOR
1618 ORL ORL
1619 PHI PHI
1620 GSW GSW
1621 ORL ORL
1622 MIL MIL
1623 DET DET
1624 BKN BKN
1625 IND IND
1626 BKN BKN
1627 LAC LAC
1628 UTA UTA
1629 POR POR
1630 SAS SAS
1631 DET DET
1632 MIA MIA
1633 MIA MIA
1634 BOS BOS
1635 CHI CHI
1636 WAS WAS
1637 MEM MEM
1638 TOR TOR
1639 PHI PHI
1640 PHI PHI
1641 PHX PHX
1642 LAL LAL
1643 LAC LAC
1644 GSW GSW
1645 MIN MIN
1646 MIA MIA
1647 TOR TOR
1648 LAC LAC
1649 ORL ORL
1650 DET DET
1651 HOU HOU
1652 BKN BKN
1653 IND IND
1654 LAL LAL
1655 SAC SAC
1656 DEN DEN
1657 DET DET
1658 NYK NYK
1659 WAS WAS
1660 NOP NOP
1661 ATL ATL
1662 HOU HOU
1663 BOS BOS
1664 POR POR
1665 UTA UTA
1666 PHX PHX
1667 ATL ATL
1668 NOP NOP
1669 BOS BOS
1670 MIN MIN
1671 MIA MIA
1672 MEM MEM
1673 LAC LAC
1674 MIL MIL
1675 CHA CHA
1676 HOU HOU
1677 DEN DEN
1678 CHI CHI
1679 MEM MEM
1680 MIN MIN
1681 SAC SAC
1682 LAC LAC
1683 GSW GSW
1684 UTA UTA
1685 NOP NOP
1686 DAL DAL
1687 CLE CLE
1688 SAS SAS
1689 CHI CHI
1690 MEM MEM
1691 POR POR
1692 IND IND
1693 CLE CLE
1694 GSW GSW
1695 WAS WAS
1696 NYK NYK
1697 LAL LAL
1698 NOP NOP
1699 UTA UTA
1700 POR POR
1701 PHX PHX
1702 DAL DAL
1703 POR POR
1704 SAS SAS
1705 UTA UTA
1706 BKN BKN
1707 TOR TOR
1708 SAC SAC
1709 GSW GSW
1710 PHI PHI
1711 HOU HOU
1712 DAL DAL
1713 ORL ORL
1714 SAS SAS
1715 CHA CHA
1716 MIL MIL
1717 MEM MEM
1718 PHX PHX
1719 DEN DEN
1720 MIN MIN
1721 DEN DEN
1722 MIA MIA
1723 DET DET
1724 CLE CLE
1725 PHI PHI
1726 SAC SAC
1727 WAS WAS
1728 CHI CHI
1729 MIN MIN
1730 UTA UTA
1731 OKC OKC
1732 IND IND
1733 NOP NOP
1734 DAL DAL
1735 MIL MIL
1736 PHX PHX
1737 WAS WAS
1738 MIL MIL
1739 SAS SAS
1740 MEM MEM
1741 PHI PHI
1742 DET DET
1743 WAS WAS
1744 BOS BOS
1745 CHA CHA
1746 DEN DEN
1747 ATL ATL
1748 LAC LAC
1749 BKN BKN
1750 TOR TOR
1751 MIA MIA
1752 NYK NYK
1753 LAL LAL
1754 MEM MEM
1755 CHA CHA
1756 IND IND
1757 NYK NYK
1758 ATL ATL
1759 HOU HOU
1760 LAL LAL
1761 LAC LAC
1762 POR POR
1763 UTA UTA
1764 DEN DEN
1765 NOP NOP
1766 MIL MIL
1767 GSW GSW
1768 CHI CHI
1769 BOS BOS
1770 TOR TOR
1771 MIN MIN
1772 IND IND
1773 TOR TOR
1774 ATL ATL
1775 HOU HOU
1776 PHI PHI
1777 DAL DAL
1778 MIA MIA
1779 SAS SAS
1780 POR POR
1781 ATL ATL
1782 NYK NYK
1783 MIA MIA
1784 WAS WAS
1785 NYK NYK
1786 CHI CHI
1787 CHA CHA
1788 CLE CLE
1789 SAC SAC
1790 GSW GSW
1791 PHX PHX
1792 PHI PHI
1793 CHA CHA
1794 DET DET
1795 TOR TOR
1796 OKC OKC
1797 BOS BOS
1798 BKN BKN
1799 CLE CLE
1800 BKN BKN
1801 IND IND
1802 CHI CHI
1803 DET DET
1804 OKC OKC
1805 ATL ATL
1806 ORL ORL
1807 CHA CHA
1808 CLE CLE
1809 UTA UTA
1810 IND IND
1811 IND IND
1812 ATL ATL
1813 HOU HOU
1814 WAS WAS
1815 MIN MIN
1816 PHX PHX
1817 MIA MIA
1818 MEM MEM
1819 CHI CHI
1820 CLE CLE
1821 TOR TOR
1822 ORL ORL
1823 BOS BOS
1824 DEN DEN
1825 MEM MEM
1826 NOP NOP
1827 DET DET
1828 TOR TOR
1829 LAL LAL
1830 BKN BKN
1831 NOP NOP
1832 PHX PHX
1833 SAC SAC
1834 UTA UTA
1835 DEN DEN
1836 MIN MIN
1837 BOS BOS
1838 BKN BKN
1839 NYK NYK
1840 CHA CHA
1841 WAS WAS
1842 MIL MIL
1843 TOR TOR
1844 POR POR
1845 ATL ATL
1846 LAC LAC
1847 MIL MIL
1848 HOU HOU
1849 CHI CHI
1850 SAC SAC
1851 DAL DAL
1852 SAS SAS
1853 MIA MIA
1854 DET DET
1855 SAS SAS
1856 ORL ORL
1857 MIA MIA
1858 CHA CHA
1859 BOS BOS
1860 WAS WAS
1861 NYK NYK
1862 GSW GSW
1863 MIA MIA
1864 NYK NYK
1865 DET DET
1866 MIL MIL
1867 POR POR
1868 LAC LAC
1869 LAL LAL
1870 GSW GSW
1871 DAL DAL
1872 BOS BOS
1873 ORL ORL
1874 OKC OKC
1875 CHI CHI
1876 IND IND
1877 BKN BKN
1878 ATL ATL
1879 CLE CLE
1880 TOR TOR
1881 BKN BKN
1882 CHI CHI
1883 MIL MIL
1884 IND IND
1885 NYK NYK
1886 SAC SAC
1887 OKC OKC
1888 GSW GSW
1889 LAC LAC
1890 POR POR
1891 NOP NOP
1892 LAL LAL
1893 POR POR
1894 DET DET
1895 BKN BKN
1896 GSW GSW
1897 DEN DEN
1898 IND IND
1899 PHI PHI
1900 WAS WAS
1901 ORL ORL
1902 MIN MIN
1903 DEN DEN
1904 ATL ATL
1905 GSW GSW
1906 UTA UTA
1907 IND IND
1908 LAL LAL
1909 NOP NOP
1910 NYK NYK
1911 SAS SAS
1912 OKC OKC
1913 MIN MIN
1914 HOU HOU
1915 PHI PHI
1916 HOU HOU
1917 SAS SAS
1918 TOR TOR
1919 UTA UTA
1920 LAC LAC
1921 MIA MIA
1922 DAL DAL
1923 CLE CLE
1924 DAL DAL
1925 SAS SAS
1926 UTA UTA
1927 CLE CLE
1928 NYK NYK
1929 TOR TOR
1930 MIN MIN
1931 DEN DEN
1932 DEN DEN
1933 MEM MEM
1934 LAC LAC
1935 SAC SAC
1936 MIL MIL
1937 NOP NOP
1938 MEM MEM
1939 CHI CHI
1940 HOU HOU
1941 NOP NOP
1942 LAL LAL
1943 CHI CHI
1944 MIL MIL
1945 MEM MEM
1946 CHA CHA
1947 OKC OKC
1948 BOS BOS
1949 WAS WAS
1950 LAL LAL
1951 DAL DAL
1952 POR POR
1953 SAC SAC
1954 ORL ORL
1955 DET DET
1956 MIA MIA
1957 BKN BKN
1958 BOS BOS
1959 CHA CHA
1960 ATL ATL
1961 LAC LAC
1962 POR POR
1963 HOU HOU
1964 GSW GSW
1965 OKC OKC
1966 DAL DAL
1967 SAC SAC
1968 UTA UTA
1969 LAC LAC
1970 DEN DEN
1971 GSW GSW
1972 PHX PHX
1973 DAL DAL
1974 MEM MEM
1975 PHX PHX
1976 LAC LAC
1977 SAC SAC
1978 DEN DEN
1979 CHI CHI
1980 HOU HOU
1981 NOP NOP
1982 BKN BKN
1983 NYK NYK
1984 CLE CLE
1985 NOP NOP
1986 HOU HOU

1987 IND IND
1988 MIA MIA
1989 CHI CHI
1990 MIL MIL
1991 MEM MEM
1992 IND IND
1993 LAC LAC
1994 OKC OKC
1995 DEN DEN
1996 GSW GSW
1997 SAC SAC
1998 DAL DAL
1999 SAS SAS
2000 TOR TOR
2001 SAC SAC
2002 SAS SAS
2003 MIN MIN
2004 GSW GSW
2005 LAL LAL
2006 DET DET
2007 LAL LAL
2008 CLE CLE
2009 ORL ORL
2010 WAS WAS
2011 CHA CHA
2012 PHI PHI
2013 BOS BOS
2014 LAL LAL
2015 MEM MEM
2016 GSW GSW
2017 CHA CHA
2018 DAL DAL
2019 OKC OKC
2020 DAL DAL
2021 BOS BOS
2022 ATL ATL
2023 UTA UTA
2024 ORL ORL
2025 TOR TOR
2026 DET DET
2027 OKC OKC
2028 BKN BKN
2029 OKC OKC
2030 PHI PHI
2031 WAS WAS
2032 PHX PHX
2033 NOP NOP
2034 SAS SAS
2035 ATL ATL
2036 MIA MIA
2037 MIL MIL
2038 NYK NYK
2039 MIN MIN
2040 LAL LAL
2041 DEN DEN
2042 HOU HOU
2043 PHX PHX
2044 MIN MIN
2045 UTA UTA
2046 MIN MIN
2047 UTA UTA
2048 SAS SAS
2049 NOP NOP
2050 PHX PHX
2051 SAS SAS
2052 MIN MIN
2053 ATL ATL
2054 MIA MIA
2055 ORL ORL
2056 MIL MIL
2057 TOR TOR
2058 NOP NOP
2059 LAL LAL
2060 POR POR
2061 SAS SAS
2062 LAC LAC
2063 TOR TOR
2064 OKC OKC
2065 HOU HOU
2066 BKN BKN
2067 WAS WAS
2068 BOS BOS
2069 NYK NYK
2070 DAL DAL
2071 NYK NYK
2072 UTA UTA
2073 LAL LAL
2074 HOU HOU
2075 MEM MEM
2076 DAL DAL
2077 POR POR
2078 UTA UTA
2079 MIN MIN
2080 PHI PHI
2081 POR POR
2082 MEM MEM
2083 DEN DEN
2084 MIA MIA
2085 LAC LAC
2086 GSW GSW
2087 DET DET
2088 CLE CLE
2089 OKC OKC
2090 IND IND
2091 MEM MEM
2092 CHI CHI
2093 DET DET
2094 CLE CLE
2095 IND IND
2096 CHA CHA
2097 PHI PHI
2098 HOU HOU
2099 PHX PHX
2100 GSW GSW
2101 CHI CHI
2102 BOS BOS
2103 ATL ATL
2104 NOP NOP
2105 LAL LAL
2106 GSW GSW
2107 DEN DEN
2108 CHA CHA
2109 MIN MIN
2110 BKN BKN
2111 UTA UTA
2112 DEN DEN
2113 SAS SAS
2114 WAS WAS
2115 DEN DEN
2116 ORL ORL
2117 PHX PHX
2118 OKC OKC
2119 SAS SAS
2120 MIL MIL
2121 GSW GSW
2122 LAC LAC
2123 MEM MEM
2124 UTA UTA
2125 NOP NOP
2126 MIN MIN
2127 DAL DAL
2128 LAL LAL
2129 HOU HOU
2130 PHX PHX
2131 LAC LAC
2132 GSW GSW
2133 SAC SAC
2134 NOP NOP
2135 MIA MIA
2136 UTA UTA
2137 UTA UTA
2138 LAC LAC
2139 HOU HOU
2140 DET DET
2141 HOU HOU
2142 MIA MIA
2143 SAC SAC
2144 LAL LAL
2145 DAL DAL
2146 CHA CHA
2147 BOS BOS
2148 WAS WAS
2149 ORL ORL
2150 DAL DAL
2151 WAS WAS
2152 MIL MIL
2153 MIN MIN
2154 CHI CHI
2155 BKN BKN
2156 BOS BOS
2157 PHX PHX
2158 NOP NOP
2159 HOU HOU
2160 LAC LAC
2161 POR POR
2162 CHI CHI
2163 PHX PHX
2164 POR POR
2165 ATL ATL
2166 TOR TOR
2167 DEN DEN
2168 CHA CHA
2169 MIL MIL
2170 LAL LAL
2171 PHX PHX
2172 MIN MIN
2173 DEN DEN
2174 CLE CLE
2175 BKN BKN
2176 TOR TOR
2177 NOP NOP
2178 DAL DAL
2179 OKC OKC
2180 PHI PHI
2181 DEN DEN
2182 MEM MEM
2183 PHI PHI
2184 DET DET
2185 NYK NYK
2186 IND IND
2187 ORL ORL
2188 LAC LAC
2189 LAL LAL
2190 IND IND
2191 NOP NOP
2192 MIN MIN
2193 HOU HOU
2194 SAC SAC
2195 OKC OKC
2196 GSW GSW
2197 ATL ATL
2198 POR POR
2199 MEM MEM
2200 SAC SAC
2201 MIN MIN
2202 MEM MEM
2203 NYK NYK
2204 CLE CLE
2205 GSW GSW
2206 OKC OKC
2207 UTA UTA
2208 MEM MEM
2209 LAL LAL
2210 DAL DAL
2211 LAC LAC
2212 POR POR
2213 UTA UTA
2214 DET DET
2215 CLE CLE
2216 DEN DEN
2217 WAS WAS
2218 MIA MIA
2219 SAC SAC
2220 OKC OKC
2221 CHA CHA
2222 NYK NYK
2223 CLE CLE
2224 GSW GSW
2225 DEN DEN
2226 SAC SAC
2227 LAC LAC
2228 HOU HOU
2229 MIL MIL
2230 PHI PHI
2231 MEM MEM
2232 LAL LAL
2233 ATL ATL
2234 CLE CLE
2235 MIN MIN
2236 BOS BOS
2237 MIL MIL
2238 PHI PHI
2239 ATL ATL
2240 ORL ORL
2241 BKN BKN
2242 UTA UTA
2243 POR POR
2244 GSW GSW
2245 PHX PHX
2246 LAL LAL
2247 SAS SAS
2248 UTA UTA
2249 CHI CHI
2250 HOU HOU
2251 BOS BOS
2252 BKN BKN
2253 NYK NYK
2254 BKN BKN
2255 PHI PHI
2256 CHA CHA
2257 PHX PHX
2258 SAS SAS
2259 MEM MEM
2260 MIL MIL
2261 ORL ORL
2262 NOP NOP
2263 BOS BOS
2264 ORL ORL
2265 BKN BKN
2266 LAC LAC
2267 MIN MIN
2268 DET DET
2269 CHI CHI
2270 CHA CHA
2271 BOS BOS
2272 POR POR
2273 NYK NYK
2274 WAS WAS
2275 WAS WAS
2276 MIL MIL
2277 NOP NOP
2278 ATL ATL
2279 MIA MIA
2280 DAL DAL
2281 OKC OKC
2282 DET DET
2283 IND IND
2284 CHI CHI
2285 MIA MIA
2286 DAL DAL
2287 ORL ORL
2288 CHA CHA
2289 IND IND
2290 PHI PHI
2291 IND IND
2292 DET DET
2293 MIA MIA
2294 NYK NYK
2295 CLE CLE
2296 POR POR
2297 LAL LAL
2298 LAC LAC
2299 SAS SAS
2300 DAL DAL
2301 SAS SAS
2302 NYK NYK
2303 PHI PHI
2304 CHA CHA
2305 ORL ORL
2306 MIA MIA
2307 MEM MEM
2308 CHI CHI
2309 HOU HOU
2310 DEN DEN
2311 DEN DEN
2312 ATL ATL
2313 MIN MIN
2314 HOU HOU
2315 MIA MIA
2316 DEN DEN
2317 LAL LAL
2318 PHX PHX
2319 GSW GSW
2320 SAC SAC
2321 OKC OKC
2322 DAL DAL
2323 MEM MEM
2324 GSW GSW
2325 SAC SAC
2326 TOR TOR
2327 LAL LAL
2328 PHI PHI
2329 PHX PHX
2330 BKN BKN
2331 BOS BOS
2332 TOR TOR
2333 MIN MIN
2334 MEM MEM
2335 CLE CLE
2336 DET DET
2337 ORL ORL
2338 PHX PHX
2339 DAL DAL
2340 IND IND
2341 OKC OKC
2342 DEN DEN
2343 LAL LAL
2344 MEM MEM
2345 MIL MIL
2346 CHA CHA
2347 ATL ATL
2348 NOP NOP
2349 DAL DAL
2350 BOS BOS
2351 LAC LAC
2352 POR POR
2353 MIL MIL
2354 WAS WAS
2355 OKC OKC
2356 MIN MIN
2357 BKN BKN
2358 SAC SAC
2359 NOP NOP
2360 HOU HOU
2361 OKC OKC
2362 LAC LAC
2363 DET DET
2364 CLE CLE
2365 CHI CHI
2366 IND IND
2367 NYK NYK
2368 LAC LAC
2369 NOP NOP
2370 SAC SAC
2371 WAS WAS
2372 SAS SAS
2373 POR POR
2374 MIN MIN
2375 POR POR
2376 GSW GSW
2377 SAS SAS
2378 ATL ATL
2379 MEM MEM
2380 TOR TOR
2381 ATL ATL
2382 ORL ORL
2383 HOU HOU
2384 BOS BOS
2385 CLE CLE
2386 CHI CHI
2387 PHI PHI
2388 NYK NYK
2389 MIA MIA
2390 PHX PHX
2391 ORL ORL
2392 SAS SAS
2393 SAC SAC
2394 OKC OKC
2395 SAS SAS
2396 BKN BKN
2397 ORL ORL
2398 DEN DEN
2399 MIL MIL
2400 MIA MIA
2401 CHA CHA
2402 DET DET
2403 LAC LAC
2404 IND IND
2405 CHI CHI
2406 MIL MIL
2407 MIL MIL
2408 IND IND
2409 BKN BKN
2410 HOU HOU
2411 DAL DAL
2412 MIN MIN
2413 MIL MIL
2414 CHI CHI
2415 BOS BOS
2416 PHI PHI
2417 POR POR
2418 MEM MEM
2419 NYK NYK
2420 DET DET
2421 CHA CHA
2422 BOS BOS
2423 ATL ATL
2424 NOP NOP
2425 NYK NYK
2426 LAL LAL
2427 NOP NOP
2428 CLE CLE
2429 BKN BKN
2430 IND IND
2431 OKC OKC
2432 IND IND
2433 PHI PHI
2434 UTA UTA
2435 GSW GSW
2436 TOR TOR
2437 TOR TOR
2438 ORL ORL
2439 PHX PHX
2440 DEN DEN
2441 SAC SAC
2442 POR POR
2443 MIN MIN
2444 DAL DAL
2445 CHI CHI
2446 CHA CHA
2447 BOS BOS
2448 ATL ATL
2449 BKN BKN
2450 CLE CLE
2451 LAL LAL
2452 LAC LAC
2453 UTA UTA
2454 GSW GSW
2455 CHA CHA
2456 NYK NYK
2457 MIA MIA
2458 DET DET
2459 MIA MIA

In [133]:
for i in range(2460):
    df_allTeams.loc[i,'OPP_EFG%'] = list_opp_efg[i]
    df_allTeams.loc[i,'OPP_FTA RATE'] = list_opp_fta[i]
    df_allTeams.loc[i,'OPP_TOV%'] = list_opp_tov[i]
    df_allTeams.loc[i,'OPP_OREB%'] = list_opp_oreb[i]
    

df_allTeams.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,ATL,10/27/16,48,0.5448,0.2716,0.1554,0.2328,0.5578,0.2432,0.1564,0.2244,WAS,1,0,0,1
1,ATL,10/29/16,48,0.5472,0.2362,0.1648,0.2360,0.4718,0.2934,0.1534,0.2260,PHI,0,2,3,1
2,ATL,10/31/16,48,0.5328,0.2724,0.1660,0.2360,0.5198,0.3660,0.1358,0.2142,SAC,1,2,2,1
3,ATL,11/2/16,48,0.5270,0.3126,0.1718,0.2654,0.4792,0.2410,0.1762,0.2460,LAL,1,2,1,0
4,ATL,11/4/16,48,0.5238,0.3352,0.1692,0.2530,0.5206,0.2338,0.1624,0.2026,WAS,0,2,2,0

In [142]:
df_save_team=df_allTeams

In [126]:
df_all.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,POR,10/25/16,48,0.607,0.293,0.140,0.167,0.537,0.195,0.144,0.171,UTA,1,0,0,1
1,UTA,10/25/16,48,0.537,0.195,0.144,0.171,0.607,0.293,0.140,0.167,POR,0,0,0,0
2,NYK,10/25/16,48,0.420,0.230,0.179,0.245,0.548,0.202,0.141,0.275,CLE,0,0,0,0
3,GSW,10/25/16,48,0.512,0.212,0.159,0.190,0.541,0.265,0.137,0.438,SAS,1,0,0,0
4,SAS,10/25/16,48,0.541,0.265,0.137,0.438,0.512,0.212,0.159,0.190,GSW,0,0,0,1

In [ ]:
# list_teams = ['ATL','BKN','BOS','CHA','CHI','CLE','DAL','DEN','DET','GSW','HOU','IND','LAC','LAL','MEM','MIA',
#               'MIL','MIN','NOP','NYK','OKC','ORL','PHI','PHX','POR','SAC','SAS','TOR','UTA','WAS']
# df_allTeams = pd.DataFrame()    
# for i in list_teams:
#     df_allTeams = pd.concat([df_allTeams, df_test.loc[df['TEAM'] == i]])
# df_allTeams.head()

In [156]:
df_reorder = pd.DataFrame()
for i in range(2460):
    for j in range(2460):
        if df_allTeams.loc[j,'TEAM']==df_all.loc[i,'TEAM'] and df_allTeams.loc[j,'GAME DATE']==df_all.loc[i,'GAME DATE']:
#             print(df_allTeams.iloc[j,:])
            df_reorder = pd.concat([df_reorder, df_allTeams.loc[j,:]], axis=1)
            break


# df_reorder.head()

In [158]:
df_re=df_reorder.T
df_re.head()

,EFG%,FTA RATE,GAME DATE,Home/Away,MIN,OPP,OPP_EFG%,OPP_FTA RATE,OPP_OREB%,OPP_REST,OPP_TOV%,OREB%,REST,TEAM,TOV%,W/L
1968,0.4946,0.2048,10/25/16,1,48,UTA,0.5662,0.2562,0.2276,0,0.1516,0.2112,0,POR,0.1204,1
2296,0.5662,0.2562,10/25/16,0,48,POR,0.4946,0.2048,0.2112,0,0.1204,0.2276,0,UTA,0.1516,0
1558,0.4968,0.2236,10/25/16,0,48,CLE,0.5254,0.2346,0.2052,0,0.1494,0.3372,0,NYK,0.145,0
738,0.563,0.236,10/25/16,1,48,SAS,0.4912,0.1726,0.25,0,0.141,0.2434,0,GSW,0.14,0
2132,0.4912,0.1726,10/25/16,0,48,GSW,0.563,0.236,0.2434,0,0.14,0.25,0,SAS,0.141,1

In [159]:
df_all.head(10)

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,POR,10/25/16,48,0.607,0.293,0.140,0.167,0.537,0.195,0.144,0.171,UTA,1,0,0,1
1,UTA,10/25/16,48,0.537,0.195,0.144,0.171,0.607,0.293,0.140,0.167,POR,0,0,0,0
2,NYK,10/25/16,48,0.420,0.230,0.179,0.245,0.548,0.202,0.141,0.275,CLE,0,0,0,0
3,GSW,10/25/16,48,0.512,0.212,0.159,0.190,0.541,0.265,0.137,0.438,SAS,1,0,0,0
4,SAS,10/25/16,48,0.541,0.265,0.137,0.438,0.512,0.212,0.159,0.190,GSW,0,0,0,1
5,CLE,10/25/16,48,0.548,0.202,0.141,0.275,0.420,0.230,0.179,0.245,NYK,1,0,0,1
6,NOP,10/26/16,48,0.429,0.283,0.101,0.096,0.494,0.398,0.224,0.282,DEN,1,0,0,0
7,PHX,10/26/16,48,0.494,0.351,0.186,0.244,0.547,0.302,0.138,0.244,SAC,1,0,0,0
8,SAC,10/26/16,48,0.547,0.302,0.138,0.244,0.494,0.351,0.186,0.244,PHX,0,0,0,1
9,HOU,10/26/16,48,0.552,0.314,0.146,0.263,0.573,0.247,0.154,0.275,LAL,0,0,0,0

In [162]:
df_re=df_re[['TEAM','GAME DATE','MIN','EFG%','FTA RATE','TOV%','OREB%','OPP_EFG%','OPP_FTA RATE','OPP_TOV%','OPP_OREB%','OPP','Home/Away','REST','OPP_REST','W/L']]
df_re.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
1968,POR,10/25/16,48,0.4946,0.2048,0.1204,0.2112,0.5662,0.2562,0.1516,0.2276,UTA,1,0,0,1
2296,UTA,10/25/16,48,0.5662,0.2562,0.1516,0.2276,0.4946,0.2048,0.1204,0.2112,POR,0,0,0,0
1558,NYK,10/25/16,48,0.4968,0.2236,0.145,0.3372,0.5254,0.2346,0.1494,0.2052,CLE,0,0,0,0
738,GSW,10/25/16,48,0.563,0.236,0.14,0.2434,0.4912,0.1726,0.141,0.25,SAS,1,0,0,0
2132,SAS,10/25/16,48,0.4912,0.1726,0.141,0.25,0.563,0.236,0.14,0.2434,GSW,0,0,0,1

In [163]:
df_re.to_csv('AllGames_Test.csv', index = False)
df_test = pd.read_csv('AllGames_Test.csv', encoding = 'latin1')
df_test.to_csv('AllGames_Test.csv')

In [148]:
df_allTeams.iloc[:,1]

0       10/27/16
1       10/29/16
2       10/31/16
3        11/2/16
4        11/4/16
5        11/5/16
6        11/8/16
7        11/9/16
8       11/12/16
9       11/15/16
10      11/16/16
11      11/18/16
12      11/20/16
13      11/22/16
14      11/23/16
15      11/25/16
16      11/27/16
17      11/28/16
18      11/30/16
19       12/2/16
20       12/3/16
21       12/5/16
22       12/7/16
23       12/9/16
24      12/13/16
25      12/16/16
26      12/17/16
27      12/19/16
28      12/21/16
29      12/23/16
          ...
2430     2/10/17
2431     2/13/17
2432     2/16/17
2433     2/24/17
2434     2/26/17
2435     2/28/17
2436      3/1/17
2437      3/3/17
2438      3/5/17
2439      3/7/17
2440      3/8/17
2441     3/10/17
2442     3/11/17
2443     3/13/17
2444     3/15/17
2445     3/17/17
2446     3/18/17
2447     3/20/17
2448     3/22/17
2449     3/24/17
2450     3/25/17
2451     3/28/17
2452     3/29/17
2453     3/31/17
2454      4/2/17
2455      4/4/17
2456      4/6/17
2457      4/8/17
2458     4/10/17
2459     4/12/17
Name: GAME DATE, Length: 2460, dtype: object

In [44]:
# df_schedule=df
# df_schedule.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,POR,10/25/16,48,0.607,0.293,0.140,0.167,0.537,0.195,0.144,0.171,UTA,1,0,0,1
1,UTA,10/25/16,48,0.537,0.195,0.144,0.171,0.607,0.293,0.140,0.167,POR,0,0,0,0
2,NYK,10/25/16,48,0.420,0.230,0.179,0.245,0.548,0.202,0.141,0.275,CLE,0,0,0,0
3,GSW,10/25/16,48,0.512,0.212,0.159,0.190,0.541,0.265,0.137,0.438,SAS,1,0,0,0
4,SAS,10/25/16,48,0.541,0.265,0.137,0.438,0.512,0.212,0.159,0.190,GSW,0,0,0,1

In [46]:
# df_schedule=df_schedule[['TEAM','GAME DATE','OPP','Home/Away','REST','OPP_REST']]
# df_schedule.head()

  TEAM GAME DATE  OPP  Home/Away  REST  OPP_REST
0  POR  10/25/16  UTA          1     0         0
1  UTA  10/25/16  POR          0     0         0
2  NYK  10/25/16  CLE          0     0         0
3  GSW  10/25/16  SAS          1     0         0
4  SAS  10/25/16  GSW          0     0         0

In [47]:
# df_schedule.to_csv('1617_Schedule.csv')

### IGNORE train set

In [71]:
df_train=df.iloc[0:2214]
len(df_train)

2214

In [72]:
df_test=df.iloc[2214:2460]
len(df_test)

246

In [75]:
df_test.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
2214,POR,3/28/17,48,0.538,0.363,0.090,0.300,0.516,0.213,0.125,0.273,DEN,1,2,2,1
2215,IND,3/28/17,48,0.525,0.432,0.149,0.314,0.532,0.474,0.144,0.297,MIN,1,2,3,0
2216,BKN,3/28/17,48,0.452,0.255,0.124,0.241,0.484,0.231,0.153,0.245,PHI,1,2,2,0
2217,ATL,3/28/17,48,0.435,0.341,0.176,0.209,0.401,0.250,0.139,0.250,PHX,1,2,2,1
2218,LAC,3/29/17,48,0.639,0.446,0.099,0.216,0.565,0.312,0.107,0.298,WAS,1,3,1,1

In [ ]:
# for i in range(len(df_test)):
#     print('------',i,df_test['TEAM'][i],'------')
#     df_test['MIN'][i]=48
#     count=0
#     opp_count=0
#     #a=0
#     #b=0
#     efg=0
#     fta=0
#     tov=0
#     oreb=0
#     opp_efg=0
#     opp_fta=0
#     opp_tov=0
#     opp_oreb=0
#     for j in range(len(df_train)):
#         if df_train['TEAM'][j]==df_test['TEAM'][i] and df_train['Home/Away'][j]==df_test['Home/Away'][i]:
#             #a=1
#             count += 1
#             efg += df_train['EFG%'][j]
#             fta += df_train['FTA RATE'][j]
#             tov += df_train['TOV%'][j]
#             oreb += df_train['OREB%'][j]
#         if df_train['OPP'][j]==df_test['OPP'][i] and df_train['Home/Away'][j]==df_test['Home/Away'][i]:
#             #b=1
#             opp_count += 1
#             opp_efg += df_train['OPP_EFG%'][j]
#             opp_fta += df_train['OPP_FTA RATE'][j]
#             opp_tov += df_train['OPP_TOV%'][j]
#             opp_oreb += df_train['OPP_OREB%'][j]
# #         if a==1 and b==1:
# #             break
#     df_test['EFG%'][i]=(efg/count)
#     df_test['FTA RATE'][i]=(fta/count)
#     df_test['TOV%'][i]=(tov/count)
#     df_test['OREB%'][i]=(oreb/count)
#     df_test['OPP_EFG%'][i]=(opp_efg/opp_count)
#     df_test['OPP_FTA RATE'][i]=(opp_fta/opp_count)
#     df_test['OPP_TOV%'][i]=(opp_tov/opp_count)
#     df_test['OPP_OREB%'][i]=(opp_oreb/opp_count)

### test set

In [46]:
df_allTeams = pd.read_csv('data/AllGames_byTeam.csv', encoding = 'latin1',index_col=0)
df_allTeams.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,ATL,10/27/16,48,0.568,0.205,0.204,0.333,0.457,0.191,0.174,0.240,WAS,1,0,0,1
1,ATL,10/29/16,48,0.524,0.271,0.119,0.146,0.381,0.188,0.195,0.089,PHI,0,2,3,1
2,ATL,10/31/16,48,0.487,0.595,0.136,0.347,0.547,0.253,0.197,0.188,SAC,1,2,2,1
3,ATL,11/2/16,48,0.547,0.341,0.170,0.244,0.583,0.222,0.146,0.289,LAL,1,2,1,0
4,ATL,11/4/16,48,0.416,0.434,0.168,0.222,0.419,0.438,0.184,0.229,WAS,0,2,2,0

In [47]:
df_home = df_allTeams[df_allTeams['Home/Away'] != 0]
df_home.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,ATL,10/27/16,48,0.568,0.205,0.204,0.333,0.457,0.191,0.174,0.240,WAS,1,0,0,1
2,ATL,10/31/16,48,0.487,0.595,0.136,0.347,0.547,0.253,0.197,0.188,SAC,1,2,2,1
3,ATL,11/2/16,48,0.547,0.341,0.170,0.244,0.583,0.222,0.146,0.289,LAL,1,2,1,0
5,ATL,11/5/16,48,0.576,0.282,0.195,0.295,0.506,0.153,0.248,0.279,HOU,1,1,3,1
7,ATL,11/9/16,48,0.560,0.325,0.219,0.361,0.500,0.231,0.132,0.186,CHI,1,1,2,1

In [10]:
len(df_home)

1230

In [11]:
efg=pd.expanding_mean(df_home['EFG%'])

/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: pd.expanding_mean is deprecated for Series and will be removed in a future version, replace with
	Series.expanding(min_periods=1).mean()
  """Entry point for launching an IPython kernel.

In [17]:
list_teams = ['ATL','BKN','BOS','CHA','CHI','CLE','DAL','DEN','DET','GSW','HOU','IND','LAC','LAL','MEM','MIA',
              'MIL','MIN','NOP','NYK','OKC','ORL','PHI','PHX','POR','SAC','SAS','TOR','UTA','WAS']

In [28]:
list_efg=[]
list_fta=[]
list_tov=[]
list_oreb=[]
for item in list_teams:
    df_team = df_home[df_home['TEAM'] == item]
    list_efg.extend((pd.expanding_mean(df_team['EFG%'])).tolist())
    list_fta.extend((pd.expanding_mean(df_team['FTA RATE'])).tolist())
    list_tov.extend((pd.expanding_mean(df_team['TOV%'])).tolist())
    list_oreb.extend((pd.expanding_mean(df_team['OREB%'])).tolist())

/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: pd.expanding_mean is deprecated for Series and will be removed in a future version, replace with
	Series.expanding(min_periods=1).mean()
  import sys
/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: pd.expanding_mean is deprecated for Series and will be removed in a future version, replace with
	Series.expanding(min_periods=1).mean()

/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: pd.expanding_mean is deprecated for Series and will be removed in a future version, replace with
	Series.expanding(min_periods=1).mean()
  if __name__ == '__main__':
/Users/user/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: pd.expanding_mean is deprecated for Series and will be removed in a future version, replace with
	Series.expanding(min_periods=1).mean()
  # Remove the CWD from sys.path while we load stuff.

In [29]:
len(list_efg)

1230

In [26]:
df_team = df_home[df_home['TEAM'] == 'ATL']

In [27]:
df_team.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,ATL,10/27/16,48,0.568,0.205,0.204,0.333,0.457,0.191,0.174,0.240,WAS,1,0,0,1
2,ATL,10/31/16,48,0.487,0.595,0.136,0.347,0.547,0.253,0.197,0.188,SAC,1,2,2,1
3,ATL,11/2/16,48,0.547,0.341,0.170,0.244,0.583,0.222,0.146,0.289,LAL,1,2,1,0
5,ATL,11/5/16,48,0.576,0.282,0.195,0.295,0.506,0.153,0.248,0.279,HOU,1,1,3,1
7,ATL,11/9/16,48,0.560,0.325,0.219,0.361,0.500,0.231,0.132,0.186,CHI,1,1,2,1

In [40]:
df_save_home=df_home
df_save_home.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,ATL,10/27/16,48,0.568,0.205,0.204,0.333,0.457,0.191,0.174,0.240,WAS,1,0,0,1
2,ATL,10/31/16,48,0.487,0.595,0.136,0.347,0.547,0.253,0.197,0.188,SAC,1,2,2,1
3,ATL,11/2/16,48,0.547,0.341,0.170,0.244,0.583,0.222,0.146,0.289,LAL,1,2,1,0
5,ATL,11/5/16,48,0.576,0.282,0.195,0.295,0.506,0.153,0.248,0.279,HOU,1,1,3,1
7,ATL,11/9/16,48,0.560,0.325,0.219,0.361,0.500,0.231,0.132,0.186,CHI,1,1,2,1

In [44]:
for i in range(1230):
    df_save_home.loc[i,'EFG%'] = list_efg[i]
    df_save_home.loc[i,'FTA RATE'] = list_fta[i]
    df_save_home.loc[i,'TOV%'] = list_tov[i]
    df_save_home.loc[i,'OREB%'] = list_oreb[i]

df_save_home.head()

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
0,ATL,10/27/16,48.0,0.56800,0.205000,0.204000,0.333000,0.457,0.191,0.174,0.240,WAS,1.0,0.0,0.0,1.0
2,ATL,10/31/16,48.0,0.53400,0.380333,0.170000,0.308000,0.547,0.253,0.197,0.188,SAC,1.0,2.0,2.0,1.0
3,ATL,11/2/16,48.0,0.54450,0.355750,0.176250,0.304750,0.583,0.222,0.146,0.289,LAL,1.0,2.0,1.0,0.0
5,ATL,11/5/16,48.0,0.55200,0.315833,0.180167,0.320167,0.506,0.153,0.248,0.279,HOU,1.0,1.0,3.0,1.0
7,ATL,11/9/16,48.0,0.54825,0.305500,0.174375,0.269125,0.500,0.231,0.132,0.186,CHI,1.0,1.0,2.0,1.0

In [ ]:
len()

In [53]:
df_4 = df_home.groupby('TEAM')['EFG%', 'FTA RATE', 'TOV%', 'OREB%'].expanding().mean()

In [59]:
df_4['TEAM'] = list(df_home['TEAM'].values)

In [61]:
df_4.head(-5)

               EFG%  FTA RATE      TOV%     OREB% TEAM
TEAM
ATL  0     0.568000  0.205000  0.204000  0.333000  ATL
     2     0.527500  0.400000  0.170000  0.340000  ATL
     3     0.534000  0.380333  0.170000  0.308000  ATL
     5     0.544500  0.355750  0.176250  0.304750  ATL
     7     0.547600  0.349600  0.184800  0.316000  ATL
     8     0.552000  0.315833  0.180167  0.320167  ATL
     10    0.552571  0.332286  0.177571  0.286714  ATL
     13    0.548250  0.305500  0.174375  0.269125  ATL
     19    0.531556  0.296778  0.163000  0.252778  ATL
     21    0.527100  0.308700  0.164300  0.244200  ATL
     22    0.525636  0.296091  0.162818  0.254636  ATL
     24    0.529083  0.291083  0.161750  0.263500  ATL
     26    0.528615  0.283000  0.158923  0.258615  ATL
     28    0.523500  0.274143  0.155500  0.252857  ATL
     31    0.515333  0.273667  0.154133  0.255533  ATL
     32    0.513687  0.274312  0.153688  0.257875  ATL
     33    0.514824  0.275412  0.151353  0.255882  ATL
     38    0.513667  0.274000  0.150111  0.256167  ATL
     39    0.518526  0.271421  0.152947  0.262579  ATL
     42    0.519100  0.269450  0.155250  0.262250  ATL
     43    0.519762  0.268667  0.154238  0.261952  ATL
     44    0.517591  0.269864  0.150864  0.258318  ATL
     46    0.513174  0.271217  0.152522  0.254478  ATL
     47    0.511750  0.273917  0.150542  0.254792  ATL
     50    0.514880  0.276800  0.151520  0.255720  ATL
     51    0.513769  0.282769  0.150654  0.252308  ATL
     52    0.515037  0.279481  0.149148  0.254074  ATL
     56    0.511571  0.285786  0.147500  0.251071  ATL
     59    0.516034  0.288862  0.150897  0.247517  ATL
     60    0.518600  0.290233  0.149667  0.248667  ATL
...             ...       ...       ...       ...  ...
WAS  2389  0.524143  0.269714  0.159714  0.276286  WAS
     2390  0.516375  0.282750  0.154125  0.274750  WAS
     2392  0.515778  0.269000  0.153222  0.274556  WAS
     2393  0.511300  0.272700  0.159800  0.273300  WAS
     2397  0.513182  0.271364  0.155636  0.268636  WAS
     2398  0.511000  0.266917  0.159083  0.263333  WAS
     2399  0.510154  0.270846  0.154692  0.263615  WAS
     2401  0.512714  0.265429  0.154000  0.266214  WAS
     2402  0.521800  0.271133  0.148067  0.254533  WAS
     2403  0.526250  0.277313  0.148187  0.253812  WAS
     2407  0.529529  0.275882  0.149706  0.250000  WAS
     2408  0.530000  0.286889  0.151667  0.255056  WAS
     2409  0.535421  0.280684  0.154105  0.254000  WAS
     2412  0.541550  0.272350  0.153550  0.249350  WAS
     2414  0.543000  0.264524  0.156143  0.246000  WAS
     2416  0.542273  0.261500  0.154136  0.246682  WAS
     2417  0.543217  0.262783  0.152826  0.248087  WAS
     2418  0.541417  0.265375  0.151917  0.250250  WAS
     2422  0.544760  0.264760  0.152160  0.250240  WAS
     2425  0.546769  0.261115  0.151038  0.249731  WAS
     2426  0.545815  0.259556  0.149667  0.249926  WAS
     2427  0.544821  0.259750  0.149036  0.247250  WAS
     2428  0.545552  0.259862  0.147621  0.247138  WAS
     2430  0.544800  0.262567  0.146433  0.249033  WAS
     2431  0.548645  0.266484  0.148968  0.246871  WAS
     2434  0.546219  0.262813  0.149187  0.243156  WAS
     2435  0.545303  0.261515  0.150576  0.247242  WAS
     2437  0.541735  0.264059  0.149324  0.248000  WAS
     2438  0.542486  0.265343  0.148714  0.248057  WAS
     2444  0.543000  0.265083  0.147972  0.244639  WAS

[1225 rows x 5 columns]

In [45]:
df_save_home.iloc[40:45,:]

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
80,ATL,4/11/17,48.0,0.500450,0.284275,0.162825,0.205825,0.347,0.216,0.156,0.278,CHA,1.0,2.0,1.0,1.0
83,BKN,10/28/16,48.0,0.576500,0.198500,0.153500,0.260000,0.413,0.204,0.123,0.259,IND,1.0,2.0,2.0,1.0
85,BKN,10/31/16,48.0,0.525750,0.277000,0.144500,0.272250,0.567,0.202,0.192,0.310,CHI,1.0,2.0,2.0,0.0
86,BKN,11/2/16,48.0,0.516600,0.282200,0.156800,0.282800,0.472,0.239,0.130,0.200,DET,1.0,2.0,1.0,1.0
87,BKN,11/4/16,48.0,0.503833,0.273333,0.153000,0.260000,0.477,0.279,0.152,0.152,CHA,1.0,2.0,2.0,0.0

In [48]:
df_home.iloc[40:45,:]

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
80,ATL,4/11/17,48,0.563,0.228,0.183,0.306,0.347,0.216,0.156,0.278,CHA,1,2,1,1
83,BKN,10/28/16,48,0.494,0.230,0.160,0.255,0.413,0.204,0.123,0.259,IND,1,2,2,1
85,BKN,10/31/16,48,0.370,0.219,0.144,0.262,0.567,0.202,0.192,0.310,CHI,1,2,2,0
86,BKN,11/2/16,48,0.625,0.224,0.195,0.152,0.472,0.239,0.130,0.200,DET,1,2,1,1
87,BKN,11/4/16,48,0.454,0.241,0.152,0.143,0.477,0.279,0.152,0.152,CHA,1,2,2,0

In [33]:
df_save_home.iloc[40:45,:]

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
80,ATL,4/11/17,48.0,0.500450,0.284275,0.162825,0.205825,0.347,0.216,0.156,0.278,CHA,1.0,2.0,1.0,1.0
83,BKN,10/28/16,48.0,0.576500,0.198500,0.153500,0.260000,0.413,0.204,0.123,0.259,IND,1.0,2.0,2.0,1.0
85,BKN,10/31/16,48.0,0.525750,0.277000,0.144500,0.272250,0.567,0.202,0.192,0.310,CHI,1.0,2.0,2.0,0.0
86,BKN,11/2/16,48.0,0.516600,0.282200,0.156800,0.282800,0.472,0.239,0.130,0.200,DET,1.0,2.0,1.0,1.0
87,BKN,11/4/16,48.0,0.503833,0.273333,0.153000,0.260000,0.477,0.279,0.152,0.152,CHA,1.0,2.0,2.0,0.0

In [32]:
df_home.iloc[40:45,:]

,TEAM,GAME DATE,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP_EFG%,OPP_FTA RATE,OPP_TOV%,OPP_OREB%,OPP,Home/Away,REST,OPP_REST,W/L
80,ATL,4/11/17,48.0,0.500450,0.284275,0.162825,0.205825,0.347,0.216,0.156,0.278,CHA,1.0,2.0,1.0,1.0
83,BKN,10/28/16,48.0,0.576500,0.198500,0.153500,0.260000,0.413,0.204,0.123,0.259,IND,1.0,2.0,2.0,1.0
85,BKN,10/31/16,48.0,0.525750,0.277000,0.144500,0.272250,0.567,0.202,0.192,0.310,CHI,1.0,2.0,2.0,0.0
86,BKN,11/2/16,48.0,0.516600,0.282200,0.156800,0.282800,0.472,0.239,0.130,0.200,DET,1.0,2.0,1.0,1.0
87,BKN,11/4/16,48.0,0.503833,0.273333,0.153000,0.260000,0.477,0.279,0.152,0.152,CHA,1.0,2.0,2.0,0.0

In [ ]:
list_opp_efg=[]
list_opp_fta=[]
list_opp_tov=[]
list_opp_oreb=[]
for i in range(1230):
    for j in range(1230):
        if df_allTeams.loc[j,'TEAM']==df_allTeams.loc[i,'OPP'] and df_allTeams.loc[j,'GAME DATE']==df_allTeams.loc[i,'GAME DATE']:
            print(i,df_allTeams.loc[i,'OPP'],df_allTeams.loc[j,'TEAM'])
            list_opp_efg.append(df_allTeams.loc[j,'EFG%'])
            list_opp_fta.append(df_allTeams.loc[j,'FTA RATE'])
            list_opp_tov.append(df_allTeams.loc[j,'TOV%'])
            list_opp_oreb.append(df_allTeams.loc[j,'OREB%'])
            break